In [3]:

import requests
from time import sleep
import pandas as pd
import unicodedata
import string
import urllib
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
#③実行する
import json
#ServiceAccountCredentials：Googleの各サービスへアクセスできるservice変数を生成します。
# from oauth2client.service_account import ServiceAccountCredentials 
# from gspread_dataframe import get_as_dataframe, set_with_dataframe
#2つのAPIを記述しないとリフレッシュトークンを3600秒毎に発行し続けなければならない
import ssl
from datetime import datetime as dt
# from utils import *
import datetime
import time
import os

def removal_text(text):
    text = unicodedata.normalize("NFKC", text)
    text = text.translate(str.maketrans( '', '',string.punctuation  + '！'+ '　'+ ' '+'・'+'～' + '‐'))
    return text

def post_line_text(message,token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ token}
    payload = {"message" :  message}
    post = requests.post(url ,headers = headers ,params=payload) 

def post_line_text_and_image(message,image_path,token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ token}
    payload = {"message" :  message}
    #imagesフォルダの中のgazo.jpg
    print('image_path',image_path)
    files = {"imageFile":open(image_path,'rb')}
    post = requests.post(url ,headers = headers ,params=payload,files=files) 


def read_spreadsheet(workbook,worksheet):
    read_worksheet_df = pd.DataFrame(worksheet.get_all_values())
    read_worksheet_df.columns = list(read_worksheet_df.loc[0, :])
    read_worksheet_df.drop(0, inplace=True)
    return read_worksheet_df

def write_dataframe_to_spreadsheet(write_spreadsheet_df,worksheet:str,title_text:str):
    workbook.add_worksheet(title=title_text, rows=len(write_spreadsheet_df), cols=len(write_spreadsheet_df.columns))
    worksheet = workbook.worksheet(title_text)
    #df_a['G数'] = df_a['G数'].map(set_round)'
    set_with_dataframe(worksheet, write_spreadsheet_df)

In [4]:
import psycopg2
import os
from dotenv import load_dotenv
import pandas as pd
load_dotenv()

users = os.getenv('HEROKU_PSGR_USER')    # DBにアクセスするユーザー名(適宜変更)
dbnames = os.getenv('HEROKU_PSGR_DATABASE')   # 接続するデータベース名(適宜変更)
passwords = os.getenv('HEROKU_PSGR_PASSWORD')  # DBにアクセスするユーザーのパスワード(適宜変更)
host = os.getenv('HEROKU_PSGR_HOST')     # DBが稼働しているホスト名(適宜変更)
port = 5432        # DBが稼働しているポート番号(適宜変更)

# PostgreSQLへ接続
conn = psycopg2.connect("user=" + users +" dbname=" + dbnames +" password=" + passwords, host=host, port=port)

# カーソルを取得する
cursor = conn.cursor()

#自動コミットモードにする
conn.autocommit = True
conn.autocommit

True

In [ ]:
cursor.execute('''SELECT *
               FROM halldata''')
cols = [col.name for col in cursor.description]
non_latitune_df = pd.DataFrame(cursor.fetchall(),columns=cols)
non_latitune_df

In [25]:
import pandas as pd
read_csv_hall_decode_df = pd.read_csv('csv/店舗名デコードテーブル都道府県付き.csv')
read_csv_hall_decode_df

          店舗名                                                URL  url_店舗名 都道府県
0     BIG大王東店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  big大王東店  北海道
1     CREV伊達店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  crev伊達店  北海道
2         EBH  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...      ebh  北海道
3      INDY函館  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   indy函館  北海道
4     KEIO湯川店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  keio湯川店  北海道
...       ...                                                ...      ...  ...
3222   マルシンV3  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   マルシンv3  沖縄県
3223   マルシンV4  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   マルシンv4  沖縄県
3224  ラッキー高原店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  ラッキー高原店  沖縄県
3225    ルクソール  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...    ルクソール  沖縄県
3226   名宝具志川店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   名宝具志川店  沖縄県

[3227 rows x 4 columns]

In [7]:
import pandas as pd
read_csv_hall_decode_df = pd.read_csv('csv/店舗名デコードテーブル都道府県付き.csv')
read_csv_hall_decode_df

          店舗名                                                URL  url_店舗名 都道府県
0     BIG大王東店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  big大王東店  北海道
1     CREV伊達店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  crev伊達店  北海道
2         EBH  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...      ebh  北海道
3      INDY函館  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   indy函館  北海道
4     KEIO湯川店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  keio湯川店  北海道
...       ...                                                ...      ...  ...
3222   マルシンV3  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   マルシンv3  沖縄県
3223   マルシンV4  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   マルシンv4  沖縄県
3224  ラッキー高原店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  ラッキー高原店  沖縄県
3225    ルクソール  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...    ルクソール  沖縄県
3226   名宝具志川店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   名宝具志川店  沖縄県

[3227 rows x 4 columns]

In [14]:

read_csv_hall_decode_df = pd.read_csv('csv/アナスロとホールナビの店舗名比較_マスター.csv')
read_csv_hall_decode_df

,店舗名,URL,url_店舗名,都道府県,anaslo_name,hallnavi_name,prefecture
0,BIG大王東店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,big大王東店,北海道,BIG大王東店,BIG大王 東店,北海道
1,CREV伊達店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,crev伊達店,北海道,CREV伊達店,CREV 伊達店,北海道
2,EBH,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,ebh,北海道,EBH,アーリーバード発寒店,北海道
3,INDY函館,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,indy函館,北海道,INDY函館,INDY函館,北海道
4,KEIO湯川店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,keio湯川店,北海道,KEIO湯川店,パーラー京王,北海道
...,...,...,...,...,...,...,...
3224,マルシンV3,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,マルシンv3,沖縄県,マルシンV3,マルシンV3,沖縄県
3225,マルシンV4,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,マルシンv4,沖縄県,マルシンV4,マルシンV4,沖縄県
3226,ラッキー高原店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,ラッキー高原店,沖縄県,ラッキー高原店,ラッキー高原店,沖縄県
3227,ルクソール,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,ルクソール,沖縄県,ルクソール,ルクソール,沖縄県
3228,名宝具志川店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,名宝具志川店,沖縄県,名宝具志川店,名宝具志川店,沖縄県

In [17]:
merge_df = pd.merge(read_csv_oyama_df,read_csv_hall_decode_df,left_on='name',right_on='店舗名',how='left')
merge_df

,id,name,hallnavi_name_x,prefecture_id,address_city,address_other,phone_number,email,priority,referer_url,...,created_at,updated_at,scraping_stop_flag,店舗名,URL,url_店舗名,都道府県,anaslo_name,hallnavi_name_y,prefecture
0,1,KEIZ手稲店,NaN,1,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,KEIZ手稲店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,keiz手稲店,北海道,KEIZ手稲店,KEIZ手稲店,北海道
1,2,M's666菊水店,NaN,1,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,M's666菊水店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,ms666菊水店,北海道,M's666菊水店,M's666菊水店,北海道
2,3,MEGA M'S1121西岡店,NaN,1,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,MEGA M'S1121西岡店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,mega-ms1121西岡店,北海道,MEGA M'S1121西岡店,メガエムズ1121西岡店,北海道
3,4,monako monako,NaN,1,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,monako monako,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,monako-monako,北海道,monako monako,モナコモナコ,北海道
4,5,SLOT BAR M's,NaN,1,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,SLOT BAR M's,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,slot-bar-ms,北海道,SLOT BAR M's,SLOT BAR M's,北海道
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025,2023,マルシンV3,NaN,47,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,マルシンV3,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,マルシンv3,沖縄県,マルシンV3,マルシンV3,沖縄県
2026,2024,マルシンV4,NaN,47,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,マルシンV4,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,マルシンv4,沖縄県,マルシンV4,マルシンV4,沖縄県
2027,2025,ラッキー高原店,NaN,47,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,ラッキー高原店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,ラッキー高原店,沖縄県,ラッキー高原店,ラッキー高原店,沖縄県
2028,2026,ルクソール,NaN,47,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,ルクソール,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,ルクソール,沖縄県,ルクソール,ルクソール,沖縄県
2029,2027,名宝具志川店,NaN,47,NaN,NaN,NaN,NaN,0,NaN,...,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False,名宝具志川店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,名宝具志川店,沖縄県,名宝具志川店,名宝具志川店,沖縄県

In [8]:
read_csv_oyama_df = pd.read_csv('csv\店舗リスト_oyama.csv')
read_csv_oyama_df

,id,name,hallnavi_name,prefecture_id,address_city,address_other,phone_number,email,priority,referer_url,anniversary,entrance_rule,hidden_flag,domain_name,created_at,updated_at,scraping_stop_flag
0,1,KEIZ手稲店,NaN,1,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
1,2,M's666菊水店,NaN,1,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
2,3,MEGA M'S1121西岡店,NaN,1,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
3,4,monako monako,NaN,1,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
4,5,SLOT BAR M's,NaN,1,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,2023,マルシンV3,NaN,47,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
2023,2024,マルシンV4,NaN,47,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
2024,2025,ラッキー高原店,NaN,47,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
2025,2026,ルクソール,NaN,47,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False
2026,2027,名宝具志川店,NaN,47,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,False,NaN,2023-08-30 06:39:12.845525,2023-08-30 06:39:12.845525,False

In [4]:



#no_scraping_hallnavi_tenpo_name = []

C:\Users\tsc95\AppData\Local\Temp\ipykernel_39360\3782705882.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())

In [ ]:
i = 0
hallnavi_scraping_error_tenpo_name_dict = {}
cols = ['hallnavi_name','scraping_dmm_name','prefecture']
serched_df_3 = pd.DataFrame(index=[], columns=cols)
hallnavi_and_dmm_tenpo_name_dict = {}
for i,row in non_latitune_df.iterrows():
    try:
        hallnavi_name = row['hall_name']
        prefecture = row['prefecture_name']
        #url = f"https://www.google.com/search?q=DMM {hallnavi_name} {prefecture} 店舗ページ　{row['address']}"
        url = row['dmm_url']
        print(i,hallnavi_name)
        #print('データ取得中...30秒ほど時間がかかります。')
        browser.get(url)
        html = browser.page_source.encode('utf-8')
        info_df = pd.read_html(browser.page_source)[0]
        scraping_dmm_name = info_df[info_df[0] == '店舗名'][1].values[0]
        # elems_rec = browser.find_elements_by_class_name('MjjYud')
        # elems_rec[0].text.split('\n')
        #print('アナスロと出る部分',elems_rec[0].text.split('\n')[1])

        hallnavi_and_dmm_tenpo_name_dict[hallnavi_name] = scraping_dmm_name
        record_df = pd.DataFrame([[hallnavi_name,scraping_dmm_name,prefecture]],columns=cols)
        serched_df_3 = pd.concat([serched_df_3,record_df],axis=0)
        time.sleep(3)
    except Exception as e:
        hallnavi_scraping_error_tenpo_name_dict[hallnavi_name] =  e
        print('エラー店舗',hallnavi_name)
        continue
    #break

In [ ]:
for tenpo_name in hallnavi_scraping_error_tenpo_name_dict.keys():
    print(tenpo_name)

In [12]:
for error_hallnavi_tenpo_name in hallnavi_scraping_error_tenpo_name_dict.keys():
    print(error_hallnavi_tenpo_name)

アクアミッドタワーグランド
楽園アメ横店
みとや竜泉
ジャラン浅草店
WAIWAIⅡ
ウインベルイースト3rd
メッセ南千住店
ピーアーク北千住SSS
キューデン西新井東口店
ジャラン谷在家店
マリオン新小岩店
宇宙センター鐘ヶ渕店
ガイアー之江店
スーパーDステーション 錦糸町店
ライブガーデン篠崎店
ウエスタン葛西店
BIGディッパー門前仲町
バンビー大島店
ノースオメガ
旗の台会館
イレブン梅屋敷店
金龍
PIA雑色新館
楽園渋谷駅前店
123笹塚店
将軍西小山店
パチスロモナミ
フルハウス東中野店
デラックス7
オーパ阿佐ヶ谷
ジャンジャンマールゴット南阿佐ヶ谷
メッセ西荻窪店
スポスポ
マルハン池袋 SLOT BASE
スマートプレゴ池袋
メデューサ
コンサートホール成増2
ディースタイル練馬店
ガイア富士見台南口店
メッセ 吉祥寺店
メガガイア調布スロットタワー
ジャンジャンマールゴット分倍河原駅前
国分寺モナコ
BIGディッパー花小金井店
AIS小川店
楽園立川店
グランド ラ・カータ 1111瑞穂店
ジャンジャンマールゴット日野駅前店
バンブーエボリューション
デルパラ10南大沢店
ジアス南大沢
ガリレオ
スロットドットコム八王子店
PIA町田本館
PIA町田新館
楽園町田店
パーラーA-1
パチスロギガ
PARLOR ACTY&PIAA
アップル
TENMAN平間店
ヒノマル新城駅前スロット館
アクセスⅡ
アクセスⅢ
ヒノマル新城店
アサヒ2鹿島田店
ニューパレス
キコーナ溝の口店
ダック2
ハトヤ
SLOT BIC
ギンザホール707
プレイスポットドラゴン
SKIP新横浜店
マルキ藤が丘駅前店
SKIPスロットクラブ関内店
SKIP横浜橋店
ニューセブン
メイジワールド
ジャンボ上大岡
スリーエイト
PIA金沢八景店
スカスロZAP中央店
ガイアネクスト保土ヶ谷 パチンコ館
ルビーセブン
BEES鶴ヶ峰店
パラッツォ鶴ヶ峰スロット館
アビバ海老名店
DRAGON
アビバ逗子駅前店
ガイア小田原店
ガイアらくらく館辻堂駅前
MQリゾート藤沢店
パチンコ&スロットSHIROYAMA
パーラーフジノ
楽園相模原店
PANDORA相模原駅前店
ピーアーク相模大野
アビバ湘南台店
SKIP綾瀬店
ジャパンニューアルファ綾瀬寺尾店
ＡＲＲＯＷ平塚店
マルハン小田原店
パーラーミリー浦和店
スマートガーデン浦和
コトブキプラス新都心店
大宮マルゼン
ジャラン弥平店
ウイング86
龍宮東川口店
ガーデン川口北原台
ジャラン川口峯店
アスカ蕨駅前店
マルキ戸田店
SAP南浦和WEST
宝石X
キコーナ草加
北越谷UNO
キコーナ荻島店
三楽ホール
Dステーション羽生店
ファンタGO!
ジャラン若葉駅前店
ガイア川越店
パチンコアコム新河岸店
スロットレイク
SAPみずほ台
ガイア新南陽店
エスタディオ東松山店
アントレ上福岡
ゴープラ小手指店
スーパーEスペース肥塚店
アスカ熊谷駅前店
メガボックス行田店
ニラク行田持田店
りっちらんど上尾店
ライブガーデン上尾パチンコ館
Field-U 小鹿野店
ニューあさひ
鳩ホールイースト
ガイア蘇我駅前店
VZONE北小金店
パチスロクィーン
ジャンボ
日の丸パチンコ本埜店
サンラッキー市川店
八幡メトロ
ピーアーク南行徳NEO
百万弗
フラミンゴ鎌ヶ谷店
Vmax(ブイマックス)津田沼
ビックマーチ東習志野店
キズナエイト 柏高田店
P.MAX東金店
パラッツォ志津店
ブイゾーンユーカリが丘店スロット館
ブイゾーンユーカリが丘店パチンコ館
ヒノマル辰巳店
ヒノマル五井店
パチンコ鴨川フラワー
PRIME-1
ドルファン
BEAT-816R
ニューカツウラ
宇宙センター神立店
ジュピター707土浦店
デルパラ1つくば南
ガーデン取手
MGM守谷ふれあい通りパチンコ館
麗都水海道店
東海UNU
麗都スロットステージ筑西
早島マルハチ25
金馬車 大洗店
ルート50
キコーナ日立駅前店
でるでるラッキー
TRY 248
ビックマーチ真岡店
グランドモナコ
ZAPP黒磯
パチンコ徳川3
MEGA SLOT MAX
ビックマーチ佐野店
ライブガーデン栃木本店
ガイアらくらく館 黒磯店
トワーズ高崎菅谷店
ダイアナ
マルハン前橋インター店
スーパーDステーション高崎本店
チャオ 沼田店
マルハン前橋天川大島店
ゼブラ
パチットあわじ
キコーナ千林
2ばいや
丸天会館
パーラーもうもう
めちゃJUMBOFIVE
だるま屋
マルカ泉尾3丁目店
ガイアネクスト西九条店
キコーナ塚本西口店
ニュー大阪
第一ホール
ワンピース
ニュー桃太郎
グランド玉出
ネットワーク
SUPER SLOT HARIMAYA
ガイア庄内駅前店
ABCラッキーセンター
キコーナ岸部店
ガイア吹田店
四海樓　江坂店
WESTSIDE
キコーナ阪急茨木店
1:BAN 高槻店
スロットベラジオ門真店
PREMIERE + LAB枚方市駅前店
きんぱち弥刀駅前店
プレジール玉串
いちえん本舗河内天美店
天竜会館
天龍会館 八尾店
1:BAN八尾店
はりまや 藤井寺店
スーパーダイイチ
シャトー長野
キコーナ河内長野店
HYPER ARROW 美原店
キコーナ堺市駅前店
エキサイトパート2
キクヤ堺北店
ダイナマイトGIGA
ハッピーボックス高石店
ラクエンプラス
でるぱちーの　パークス本店
サニーヒル丸玉
ベガスベガス泉大津店
PAO岸和田 ギャスロ
PAO岸和田だんじり屋
グランキコーナ泉佐野店
ガイアネクスト深井店
DinoJoy
PLAZAII
モコ鈴蘭台店
モコ田尾寺店
マルカ伊川谷店
セブンガーデン
チェリー兵庫店
ニュー毎日
スーパーDステーション 新開地店
ロト プレーヤー 垂水店
C-RIZE 一宮店
Dino六甲道
スーパーパチンコまるちゃん倶楽部
ガイア深江店
Dino 武庫川
大進会館
HARIMAYA出屋敷店
パチンコ アマガーデン
フォロ・マジョーレ661
キコーナ尼崎本店
キコーナ塚口店
アポロ会館
アミューズ西宮山手幹線通り
HANAKO
エビス
ナルパチDino
123宝塚店
キコーナ川西久代店
パーラーV.O.X
村いちばん
アミューズ三田
ラスベガス浜坂店
プレイブランド フェニックス姫路駅前
モナコ姫路
Dステーション姫路店
ヴィーナスギャラリー姫路白浜
ヴィーナスギャラリー姫路白浜Ⅱ
ガイアシティ西明石店
モナコ西明石
123三木店
TSUCHIYAMAパート2
マルハン新加古川店
モナコ別府
トップワン加東店
モナコ香寺
P&S LOVEたつの
佐用国際グランプリ
パチンコガッツ
楽元イブキ店
スーパーコスモびわ店
スーパーコスモ 浅井店
スーパードーム千本中立売店
SLOT BAR CODE－S北山店
アミューズ河原町丸太町
NEW GOLD
KB7
キョーイチ隠元橋店
京一長岡店
ワールド篠
APOLLOII
ドリームドリーム4
チェリー
PAO 大和小泉店
パチーズPLUS貴志川
ガイア岩出店
スタジアム2001岩出店
キコーナ紀の川店
オーギヤ豊橋駅前店
ドリーム
キングスター
ダイエイ.大野店
エース設楽店
ラスベガス豊川店
コスモジャパン南店
マックス一色店
M&K岡崎店
夢市場 足助店
パーラーM&K道光寺店
丸万本店
ファンダーズ+高棚店
プレイタウンナンバーワン
ZENT刈谷店
パーラートーエイ
ラッキースマイル
KYORAKU 西店
プレイランドキャッスルワンダー店
ウイングレット
プレイランドキャッスル尾頭橋店
マリオン花塚店
マリオン長良橋西店
コスモジャパン港店
プレイランドキャッスル熱田店
QUICK7大須店
プレイランドキャッスル大曽根店
マルマンぱとす
TAMAYA守山店
GOGO千代田
ダイアナ京命店
マルハン茶屋が坂店
GINZA御器所店
ダイマル桜山店
ZENT梅坪店
キング
PAO共和店
共栄 半田店
ＭＡＲＵＭＡＮ青山店
キング666会館半田店
KYORAKU 東海店
Ootagawa JUMBO
プレイランドキャッスル知多東海店
プレイランドキャッスル知多にしの台店
マリオン ガーデン1000常滑店
ミカド師勝店
シンセカイ・ヘビーメタル
プレイランドキャッスル小牧店
マルハン小牧店
パチンコニューマルギン
プレイランドキャッスル春日井店
リブレ尾張瀬戸店
共栄甚目寺駅前店
キング666一宮店
ミカド一宮本店
ぱちんこ亭パーラー一京
パチンコ戸田
日の出ホール江奈店
ジョイランドみしまⅡ
マルハンメガシティ三島駿東
サンアシベ新店
プレイステーションタムラ伊東店
パーラーマリンジャンボ
タカラ柳島店
タカラ原田店
コンコルド静岡手越店
スリーエー榛原
マルハン草薙アピア店
エアポート777
YUMEYA浜松大柳店
パーラー大学 浜松駅前店
ＳＰハウス
パーラー大学院
スリーエー竜洋
オーシャン 甲府中央店
マルハン甲府店
パーラーにしや開国橋店
ニューダイヤ インフィニティ
寿楽
ダイマル
ニューダイヤ 山梨店
オーシャン 上野原店
マルハンメガシティ長野店
OMOSHIRO SQUARE JINOS東長野店
チャンピオン長野店
チャンピオン 佐久店
ニューアサヒ上田店
Dstation上田店
APULO 松本波田店
APULO飯田店
大将軍本陣
APULO二子橋
KING NEXT 塩尻店
ニューアサヒ伊那店
イーアサヒ伊那店
パチンコミノワ
チャンピオンDELZY
ガイア岐阜駅前店
グリフィン穂積店
アヅマくろの店
マックス岐阜北
夢屋 高富505店
ラッキープラザ900関店
マリオン名岐バイパス店
マリオン 羽島インター北店
NO.1 赤坂店
ウイング美濃加茂店
パーラーパラダイスパートⅠ
ラッキープラザ
チャンピオン
パチンコ&スロットジャム西可児店
ひざんホール
ニュー文化
キング666飛騨高山店
シルクロード浦川原店
エヌワン上越けんしんこう大橋店
スーパーDステーション上越店
DAMZ小千谷
王将会館
エヌワン赤道店
Ds club 河渡店
デルゼビッグサイト新潟竹尾店
ミッド・ガーデン堀之内店
エヌワン豊栄店
パチンコキング信濃町店
TIES
パチンコラッキー佐和田
DAMZ県央店
パーラーいちご
Ds club 燕三条店
パチンコ.ダイエー加茂店
ビーディー胎内店
ノースランド富山駅北店
スロットセブンスヘブン長江店
タイヨーネオ 富山店
Ds club 五泉店
Ds club 水原店
メガガイア氷見店
エンターテイメントオメガ金石
DSG御経塚 アポロ館
タイガー粟津店
タイガー寺井店
スーパーUSA松任店
サンパルコ 穴水店
ディーゾーン
パチンコ・光
マルハン福井大和田店
パチンコAMG
USA敦賀店
MGjasmine
パチンコ大統領大飯店
パチンコアトム
ウイング金場店
ウイング河芸店
ホームラン四日市店
ホームラン平田店
ガイア津店
A−FLAG 津店
ホームラン津店
ウイング松阪南店
タイキ伊勢小木
ハワイホール
スーパードーム上野店
キング観光 熊野店
ウインク＆マックス
メガサイバーパチンコ光南I・II
Medal Zoon
K−1 400
222(スリーツー)
Rose&Pia(ローズアンドピア)
Plus-7(プラスセブン)
メタル ウィン
パチンコオリンピア
ザ・タイガー因島店
Plus−2(プラスツー)
ラ・フェスタ スロット７
Plus-1(プラスワン)
NCX尾道店
ガイア紙屋町店
アポロン345
スーパーランドKABETEN
メガガイア広島駅前店
パイオニア21
パーラーキングプラザ佐伯店
ビクトリーガーデン パチンコ
P-LAND 1
パーラージャンボ岩国店
スーパーハリウッド柳井店
丸三柳井店
チャンス
スーパーハリウッド周南店
サイバーパチンコ&スロット防府店
P−LAND 下関店
ガイア長府店
太陽
スーパーハリウッド新山口店
セブンスター
ハリウッド美祢
川棚会館
清心町 マルハチ
nikko 泉田店
野田マルハチ
円山マルハチ
ラスベガス岡山店
パーラーマンモス玉野店
サーカス
セントラルディーボ倉敷店
123水島店
ガイア笠岡シーサイドモール店
EEE STUDIO
パーラーNi.C
nikko真庭店
スロットゼンコウ隠岐店
マンモス浜田店
ビッグ益田店
ラスベガス河原店
デルパラ7中島店
バージン米子店
ナングン東温店
クラブコロンボ松山店
SLOT ROCKY新居浜店
グランディールロッキー西条店
パーラーデルーサ
マルハン今治店
丸之内ヘリオス1000丸亀店
メガロアイゼン
スーパーパオアイゼン
マルハン丸亀店
クィーンプレジール
グランド詫間
ミリオン帯屋町店
共栄会館 田井店
ミリオン野市
ミリオン南国おおそね店
ANNEX
キングゆすはら店
パーラーじゃんじゃん大月店
セントラルディーボ保免店
グランド会館
セントラルディーボ山越店
キスケパオ小泉店
SLOT AQUA WORLD
遊スタジアム野村店
ダイナム愛媛四国中央店
グランディールロッキー三島店
パーラーパレス
イオン
スロットフジ越知店
パーラー本山
セントラルディーボ山田店
ミリオン南国店
パチンコジャンボ
アーリーバード発寒店
Ms666菊水店
PANDORA 手稲店
ベガスベガス函館空港前店
パーラーヤマト江差店
パーラーACE木古内店
パーラー桃太郎
BIG SITE
ダイヤ
ZEUS室蘭店
パチンコパーラーたんぽぽ
マルハン苫小牧駅前店
パーラー夢球殿
モナコモナコ
追分娯楽センター
パーラーモナコ
パーラー太陽 宮の沢店
パーラーピノキオ
プラザタイム7条店
ゴールデンキング
ベガスベガス帯広北店
アーリーバード星が浦
アーリーバード春採店
アーリーバード根室店
アーリーバード釧路店
イーグル ルナシティ釧路店
ニューラッキー
DAIGORO Z美幌店
パチンコパラダイス40
イーグル ニコパチランド稚内店
グランド永楽
パーラーヤマト雄武店
パーラーパッション
パーラーDAIGORO V
パーラー・ニュージャンボ
パーラーオリーブ
パーラー銀河
ハードロック仙台一番町店
ウイング利府
スロットハウスムサシ矢本店
パチンコ大将軍矢本店
ホープホール
パーラーサンワールド
スーパーラッキー
八乙女セントラル
アース大郷店
メルヘンワールド長町南店
マルハン仙台卸町店
ベガスベガス大和町店
パチンコ大将軍河北店
パチンコ大将軍大街道店
パチンコニュー松竹梅
パーラー J−遊佐沼みなみ店
大将軍佐沼遊優館
SUNQ
セントラル古川店
パチンコ＆スロット ピーツー
新世界遊技場
パチンコからしま梁川店
パーラーニューウェーブ
パチンコ三ツ星野田町店
ミスタージャンボ
パチンコリボン
パーラー大将軍石川店
ニラク郡山大町店
Ms’Club.山口店
スターマルキン
パーラーニューフェイスいわき店
ジョイパーク遠野店
マルハン宮町店
V PARK MIKASA
スーパーダンク
パチンコLucky7 小国店
マルハン盛岡みたけ店
カネマン日高
カネマンMPlus
PHOENIX
カネマン奥州
パーラーヒカリ 東和店
夢工房21堀野店
21世紀軽米店
イレブンナイン 八幡平店
パーラーヒカリ
マルハン広面店
ビイ・ギャル追分店
パーラートマト
ボンボンスタジアム大曲店
ボンボンスタジアム中仙店
ALBA
セブンワールド
P-ZONE 餌釣店
ビクトリーセブン昭和店
パチンコ北大青森店
ワンダーワン
セントラルパーク
グランド
ガイアネクスト湊高台
パーラーブンカ
パチンコ 北大 金木店
山緑パチンコ
ガイア藤崎店
北大八戸店
フォーチュンお花茶屋店
ネバーランドおいらせ
エムディー目黒
成増会館
日の出会館パチンコ舘
ライオン八王子店
ゴードン永山店
パーラーWASUKE
パーラーフィオーレたまプラーザ
モナコ桜木町本店
メガフェイス1180座間
イーグル袖ヶ浦店
スロットPX女化店
キコーナひたちなか店
KING BOSS 1000
パーラーフィーバー・黒磯店
メルヘンワールド足利店
マルハン大間々店
丸昌会館
シグマ清水丘店
エムズ本店&プレミアムライト
メッチャはんくら
Dino青木駅前
Dino甲子園口
パーラー ルート1上鳥羽店
CO-MO福知山店
ミュージアム21バイパス店
MEGAコンコルド豊川インター店
パーラーニューギン
メガコンコルド1111BLAZE店
ニューヒカリ3
夢工房YAHHO佐久 パチンコ館
ラッキー
キクヤ島店
太陽会館
SUN 池田店
デライヤ砺波インター店
スロットハウス カジノ福山店
メタルウィンII
アンジェロ
P-LAND 2
K−1深川店
デルパラ7山口店
ハリウッド佐山店
パチンコ ビッグバン苫小牧
アーリーバード藻岩店
パーラー大統領
パチンコ コスモ
スマイル美瑛
文化会館
パチンコスタジアム K-1
ネバーランド
パーラー稚内ジャパン
松屋ホール
パーラーK＆K

In [1]:
hallnavi_and_dmm_tenpo_name_dict

NameError: name 'hallnavi_and_dmm_tenpo_name_dict' is not defined

In [7]:
serched_df_3.to_csv('csv/ホールナビ_スクレイピングDMM店舗名_都道府県付.csv',index=False)

In [63]:
info_df = pd.read_html(browser.page_source)[0]
dmm_hall_name = info_df[info_df[0] == '店舗名'][1].values[0]

'アイランド秋葉原店'

In [31]:
serched_df_3.to_csv('csv/アナスロとホールナビの店舗名比較.csv',index=False)

In [2]:
read_csv_hallnavi_and_scraping_dmm_df = pd.read_csv('csv/ホールナビ_スクレイピングDMM店舗名_都道府県付.csv')
read_csv_hallnavi_and_scraping_dmm_df

NameError: name 'pd' is not defined

In [41]:
read_csv_hall_decode_df = pd.read_csv('csv/店舗名デコードテーブル都道府県付き.csv')
read_csv_hall_decode_df

          店舗名                                                URL  url_店舗名 都道府県
0     BIG大王東店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  big大王東店  北海道
1     CREV伊達店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  crev伊達店  北海道
2         EBH  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...      ebh  北海道
3      INDY函館  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   indy函館  北海道
4     KEIO湯川店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  keio湯川店  北海道
...       ...                                                ...      ...  ...
3222   マルシンV3  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   マルシンv3  沖縄県
3223   マルシンV4  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   マルシンv4  沖縄県
3224  ラッキー高原店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...  ラッキー高原店  沖縄県
3225    ルクソール  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...    ルクソール  沖縄県
3226   名宝具志川店  https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...   名宝具志川店  沖縄県

[3227 rows x 4 columns]

In [42]:
anaslo_and_hallnavi_tenpo_name_df = pd.read_csv('csv/アナスロとホールナビの店舗名比較.csv')
anaslo_and_hallnavi_tenpo_name_df['hallnavi_name'] = anaslo_and_hallnavi_tenpo_name_df['hallnavi_name'].map(lambda x:x.split('｜')[0])
anaslo_and_hallnavi_tenpo_name_df

     anaslo_name hallnavi_name prefecture
0        BIG大王東店      BIG大王 東店        北海道
1        CREV伊達店      CREV 伊達店        北海道
2            EBH    アーリーバード発寒店        北海道
3         INDY函館        INDY函館        北海道
4        KEIO湯川店        パーラー京王        北海道
...          ...           ...        ...
3222      マルシンV3        マルシンV3        沖縄県
3223      マルシンV4        マルシンV4        沖縄県
3224     ラッキー高原店       ラッキー高原店        沖縄県
3225       ルクソール         ルクソール        沖縄県
3226      名宝具志川店        名宝具志川店        沖縄県

[3227 rows x 3 columns]

In [44]:
concat_anaslo_hannnavi_master_csv_df = pd.merge(read_csv_hall_decode_df, anaslo_and_hallnavi_tenpo_name_df, left_on='店舗名', right_on='anaslo_name',how='left')
concat_anaslo_hannnavi_master_csv_df.to_csv('csv/アナスロとホールナビの店舗名比較_マスター.csv',index=False)

In [ ]:
pd.merge(df_ab, df_ac, on='a', how='left')

In [52]:
concat_serch_df = pd.concat([serched_df_1,serched_df_2,serched_df_3],axis=0)
concat_serch_df

      DMM店舗名(変換前)                取得ドメイン            アナスロ(変換後)
0   マルハンメガシティ三島駿東          ANJ（P'sCUBE)  マルハンメガシティ三島駿東 データ一覧
1     マルハンメガシティ長野          ANJ（P'sCUBE)    マルハンメガシティ長野 データ一覧
2       アムズツインパーク          ANJ（P'sCUBE)      アムズツインパーク データ一覧
3         キコーナ松戸店      プロテラス  （テラスモバイル）        キコーナ松戸店 データ一覧
4      キコーナ新宿三丁目店      プロテラス  （テラスモバイル）     キコーナ新宿三丁目店 データ一覧
..            ...                   ...                  ...
0     エアポート777土岐店  グローリーナスカ（PAPIMO-NET)    エアポート777土岐店 データ一覧
0          747三和店          ANJ（P'sCUBE)         747三和店 データ一覧
0         RITZ高槻店          ANJ（P'sCUBE)        RITZ高槻店 データ一覧
0         RITZ防府店          ANJ（P'sCUBE)        RITZ防府店 データ一覧
0            ZEUS          ANJ（P'sCUBE)           ZEUS データ一覧

[2524 rows x 3 columns]

In [55]:
concat_serch_df[~concat_serch_df['アナスロ(変換後)'].str.contains('データ一覧')]

          DMM店舗名(変換前)        取得ドメイン              アナスロ(変換後)
49           キコーナ香里園店  ANJ（P'sCUBE)                    大阪府
56             ガイア瑞江店  ANJ（P'sCUBE)  アナスロ - 全国パチスロデータ・出玉情報
57        ガイアネクスト三ツ境Ⅰ  ANJ（P'sCUBE)                   神奈川県
58            ガイア西船橋店  ANJ（P'sCUBE)  アナスロ - 全国パチスロデータ・出玉情報
59          メガガイア青森中央  ANJ（P'sCUBE)                    青森県
..                ...           ...                    ...
0       スーパーハイペリオンセブン  ANJ（P'sCUBE)  アナスロ - 全国パチスロデータ・出玉情報
0   パチンコ&スロット タイガー川棚店   プレネット（P=DO)  アナスロ - 全国パチスロデータ・出玉情報
0   パチンコ&スロット サンタイガー店   プレネット（P=DO)  アナスロ - 全国パチスロデータ・出玉情報
0                 大学院  ANJ（P'sCUBE)  2021/11/05 大学院 データまとめ
0            ライオン八王子店          P-モバ                    東京都

[156 rows x 3 columns]

In [56]:
concat_serch_df[concat_serch_df['アナスロ(変換後)'].str.contains('データ一覧')]

      DMM店舗名(変換前)                取得ドメイン            アナスロ(変換後)
0   マルハンメガシティ三島駿東          ANJ（P'sCUBE)  マルハンメガシティ三島駿東 データ一覧
1     マルハンメガシティ長野          ANJ（P'sCUBE)    マルハンメガシティ長野 データ一覧
2       アムズツインパーク          ANJ（P'sCUBE)      アムズツインパーク データ一覧
3         キコーナ松戸店      プロテラス  （テラスモバイル）        キコーナ松戸店 データ一覧
4      キコーナ新宿三丁目店      プロテラス  （テラスモバイル）     キコーナ新宿三丁目店 データ一覧
..            ...                   ...                  ...
0     エアポート777土岐店  グローリーナスカ（PAPIMO-NET)    エアポート777土岐店 データ一覧
0          747三和店          ANJ（P'sCUBE)         747三和店 データ一覧
0         RITZ高槻店          ANJ（P'sCUBE)        RITZ高槻店 データ一覧
0         RITZ防府店          ANJ（P'sCUBE)        RITZ防府店 データ一覧
0            ZEUS          ANJ（P'sCUBE)           ZEUS データ一覧

[2368 rows x 3 columns]

In [54]:
concat_serch_df.to_csv('csv/convert_dmm_to_anaslo_completed_2023-06-21.csv')

In [49]:
serched_df_1

                 0                 1                    2
0    マルハンメガシティ三島駿東      ANJ（P'sCUBE)  マルハンメガシティ三島駿東 データ一覧
1      マルハンメガシティ長野      ANJ（P'sCUBE)    マルハンメガシティ長野 データ一覧
2        アムズツインパーク      ANJ（P'sCUBE)      アムズツインパーク データ一覧
3          キコーナ松戸店  プロテラス  （テラスモバイル）        キコーナ松戸店 データ一覧
4       キコーナ新宿三丁目店  プロテラス  （テラスモバイル）     キコーナ新宿三丁目店 データ一覧
..             ...               ...                  ...
917        ウイング金場店  プロテラス  （テラスモバイル）        ウイング金場店 データ一覧
918        ウイング玉城店  プロテラス  （テラスモバイル）        ウイング玉城店 データ一覧
919     ウイング四日市中央店  プロテラス  （テラスモバイル）     ウイング四日市中央店 データ一覧
920        ウイング岩出店  プロテラス  （テラスモバイル）        ウイング岩出店 データ一覧
921        ウイング御嵩店  プロテラス  （テラスモバイル）        ウイング御嵩店 データ一覧

[922 rows x 3 columns]

In [50]:
#serched_df_1 = serched_df.reset_index(drop=True)
serched_df_1 = serched_df_1.rename(columns={0: 'DMM店舗名(変換前)',1:'取得ドメイン',2: 'アナスロ(変換後)'})
serched_df_1

       DMM店舗名(変換前)            取得ドメイン            アナスロ(変換後)
0    マルハンメガシティ三島駿東      ANJ（P'sCUBE)  マルハンメガシティ三島駿東 データ一覧
1      マルハンメガシティ長野      ANJ（P'sCUBE)    マルハンメガシティ長野 データ一覧
2        アムズツインパーク      ANJ（P'sCUBE)      アムズツインパーク データ一覧
3          キコーナ松戸店  プロテラス  （テラスモバイル）        キコーナ松戸店 データ一覧
4       キコーナ新宿三丁目店  プロテラス  （テラスモバイル）     キコーナ新宿三丁目店 データ一覧
..             ...               ...                  ...
917        ウイング金場店  プロテラス  （テラスモバイル）        ウイング金場店 データ一覧
918        ウイング玉城店  プロテラス  （テラスモバイル）        ウイング玉城店 データ一覧
919     ウイング四日市中央店  プロテラス  （テラスモバイル）     ウイング四日市中央店 データ一覧
920        ウイング岩出店  プロテラス  （テラスモバイル）        ウイング岩出店 データ一覧
921        ウイング御嵩店  プロテラス  （テラスモバイル）        ウイング御嵩店 データ一覧

[922 rows x 3 columns]

In [43]:
serched_df_2.to_csv('csv/convert_dmm_to_anaslo_0923~2000.csv')

In [38]:
concat_serch_df[~concat_serch_df['アナスロ(変換後)'].str.contains('データ一覧')]

,DMM店舗名(変換前),取得ドメイン,アナスロ(変換後)
49,キコーナ香里園店,ANJ（P'sCUBE),大阪府
56,ガイア瑞江店,ANJ（P'sCUBE),アナスロ - 全国パチスロデータ・出玉情報
57,ガイアネクスト三ツ境Ⅰ,ANJ（P'sCUBE),神奈川県
58,ガイア西船橋店,ANJ（P'sCUBE),アナスロ - 全国パチスロデータ・出玉情報
59,メガガイア青森中央,ANJ（P'sCUBE),青森県
...,...,...,...
873,エンターテイメントオメガ堅田店,グローリーナスカ（PAPIMO-NET),2023/06/18 滋賀県 全台系と思われる機種があったお店 データ ...
877,yout勝川店,GOLUCK（台データ）,愛知県
885,Aパンハイ-ブリっヂ,GOLUCK（台データ）,2022/11/09 APANCLUBハイ-ブリっヂ データまとめ
899,丸三東萩店,ANJ（P'sCUBE),アナスロ - 全国パチスロデータ・出玉情報
900,丸三萩店,ANJ（P'sCUBE),アナスロ - 全国パチスロデータ・出玉情報

In [22]:
convert_tenponame_dict_df = pd.DataFrame(dmm_and_anaslo_tenpo_name_dict.values(), index=dmm_and_anaslo_tenpo_name_dict.keys())
convert_tenponame_dict_df = convert_tenponame_dict_df.reset_index()
convert_tenponame_dict_df  = convert_tenponame_dict_df.rename(columns={'index': 'DMM(変換前)',0: 'アナスロ(変換後)'})
convert_tenponame_dict_df

         DMM(変換前)            アナスロ(変換後)
0   マルハンメガシティ三島駿東  マルハンメガシティ三島駿東 データ一覧
1     マルハンメガシティ長野    マルハンメガシティ長野 データ一覧
2       アムズツインパーク      アムズツインパーク データ一覧
3         キコーナ松戸店        キコーナ松戸店 データ一覧
4      キコーナ新宿三丁目店     キコーナ新宿三丁目店 データ一覧
5         キコーナ府中店        キコーナ府中店 データ一覧
6      キコーナひたちなか店     キコーナひたちなか店 データ一覧
7       キコーナ水戸駅南店      キコーナ水戸駅南店 データ一覧
8          アプリイ菊川         アプリイ菊川 データ一覧
9         アプリイ富士川        アプリイ富士川 データ一覧
10         アプリイ中原         アプリイ中原 データ一覧

In [37]:
convert_tenponame_dict_df[~convert_tenponame_dict_df['アナスロ(変換後)'].str.contains('データ一覧')]

Empty DataFrame
Columns: [DMM(変換前), アナスロ(変換後)]
Index: []

In [12]:
convert_tenponame_dict_df = convert_tenponame_dict_df[convert_tenponame_dict_df['アナスロ(変換後)'].str.contains('データ一覧')]
convert_tenponame_dict_df['アナスロ(変換後)'] = convert_tenponame_dict_df['アナスロ(変換後)'].apply(lambda x: x.replace(' データ一覧',''))
convert_tenponame_dict_df.to_csv(r'csv\dict_0602_昇天チャレンジ_アナスロ店舗名変換データ一覧.csv')
convert_tenponame_dict_df
#データ一覧のみを含む店舗名法人名とアナスロ店舗名の辞書型
extraxt_convert_tenponame_dict = dict(zip(convert_tenponame_dict_df['DMM(変換前)'], convert_tenponame_dict_df['アナスロ(変換後)']))
extraxt_convert_tenponame_dict

{'100℃大曽根店': '100℃大曽根店',
 '100℃守山店': '100℃守山店',
 '100万ドルアムアム店': 'よろこびの街100万ドルアムアム店',
 '100万ドル上田インター店': 'よろこびの街100万ドル上田インター店',
 '100万ドル中野店': 'よろこびの街100万ドル中野店',
 '123+Nはりまや橋店': '123+Nはりまや橋店',
 '123+N和歌山本店': '123+N和歌山本店',
 '123+N岡山本店': '123+N岡山本店',
 '123+N布施店': '123+N布施店',
 '123+N羽曳野店': '123+N羽曳野店',
 '123+Ｎ松原店': '123+N松原店'}

In [13]:
prefecture_name_list = '''北海道
青森県
岩手県
宮城県
秋田県
山形県
福島県
茨城県
栃木県
群馬県
埼玉県
千葉県
東京都
神奈川県
新潟県
富山県
石川県
福井県
山梨県
長野県
岐阜県
静岡県
愛知県
三重県
滋賀県
京都府
大阪府
兵庫県
奈良県
和歌山県
鳥取県
島根県
岡山県
広島県
山口県
徳島県
香川県
愛媛県
高知県
福岡県
佐賀県
長崎県
熊本県
大分県
宮崎県
鹿児島県
沖縄県'''.split('\n')

In [14]:
import requests
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import datetime
import time
import unicodedata
import string
import urllib
def removal_text(text):
    text = unicodedata.normalize("NFKC", text)
    text = text.translate(str.maketrans( '', '',string.punctuation  + '！'+ '　'+ ' '+'・'+'～' + '‐'))
    return text
def post_line_text(message,token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ token}
    payload = {"message" :  message}
    post = requests.post(url ,headers = headers ,params=payload)
def post_line_text_and_image(message,image_path,token):
    url = "https://notify-api.line.me/api/notify"
    headers = {"Authorization" : "Bearer "+ token}
    payload = {"message" :  message}
    #imagesフォルダの中のgazo.jpg
    print('image_path',image_path)
    files = {"imageFile":open(image_path,'rb')}
    post = requests.post(url ,headers = headers ,params=payload,files=files)
def TablePlot(df,outputPath,w,h,fontsize,title):
    plt.rcParams["font.size"] = fontsize
    plt.rcParams["font.weight"] = "bold"
    fig, ax = plt.subplots(figsize=(w,h))
    ax.axis('off')
    ax.table(cellText=df.values,
             colLabels=df.columns,
             loc='center',
             bbox=[0,0,1,1])
    ax.set_title(f'{title}',
             fontweight ="bold")
    plt.savefig(outputPath)


#print(tenpo_ichiran_df['ホール名'])
cols = ['機種名', '台番号', 'G数', '差枚', 'BB', 'RB', 'ART', 'BB確率', 'RB確率', 'ART確率','合成確率','店舗名']
ichiran_all_tennpo_df = pd.DataFrame(index=[], columns=cols)
yesterday = datetime.date.today() + datetime.timedelta(days=-1)
browser = webdriver.Chrome(ChromeDriverManager().install())
parlar_name_parlar_url_dict = {}
for prefecture_name in prefecture_name_list:
    url = f'https://ana-slo.com/%E3%83%9B%E3%83%BC%E3%83%AB%E3%83%87%E3%83%BC%E3%82%BF/{prefecture_name}/'
    browser.get(url)
    html = browser.page_source.encode('utf-8')
    soup = BeautifulSoup(html, 'lxml')
    for element in soup.find(class_="dataTable no-footer").find_all("a"):
        #print(element.string,element['href'])
        parlar_name = element.string
        parlar_name_url = element['href']
        parlar_name_parlar_url_dict[parlar_name] = parlar_name_url

====== WebDriver manager ======
Current google-chrome version is 114.0.5735
Get LATEST chromedriver version for 114.0.5735 google-chrome
Driver [C:\Users\slotd\.wdm\drivers\chromedriver\win32\114.0.5735.90\chromedriver.exe] found in cache
C:\Users\slotd\AppData\Local\Temp/ipykernel_43180/297629090.py:50: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())

In [15]:
import csv
dct = parlar_name_parlar_url_dict
with open(r'csv/tenpo_name_tenpo_url_dict.csv', 'w') as f:  
    writer = csv.writer(f)
    for k, v in dct.items():
       writer.writerow([k, v])

In [16]:


tenpo_name_tenpo_url_df =pd.read_csv(r'csv\tenpo_name_tenpo_url_dict.csv', header=None, names=['店舗名','URL'])
tenpo_name_tenpo_url_df['url_店舗名'] = tenpo_name_tenpo_url_df['URL'].map(lambda x: urllib.parse.unquote((x.split('/')[-2])).replace('-データ一覧',''))
tenpo_name_tenpo_url_df.to_csv(r'csv/アナスロ店舗名デコードテーブル.csv',index=False)

In [80]:
tenpo_name_tenpo_url_df.sort_values('店舗名')

,店舗名,URL,url_店舗名
1779,100℃大曽根店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,100℃大曽根店
1780,100℃守山店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,100℃守山店
2813,123+Nはりまや橋店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,123nはりまや橋店
2514,123+N和歌山本店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,123n和歌山本店
2181,123+N大阪本店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,123n大阪本店
...,...,...,...
1219,阿佐ヶ谷オーシャン,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,阿佐ヶ谷オーシャン
1220,飯田橋プレサス,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,飯田橋プレサス
1428,鶴見UNO,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,鶴見uno
570,麗都宇都宮テクノ店,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,麗都宇都宮テクノ店
2971,黒崎太陽会館,https://ana-slo.com/%e3%83%9b%e3%83%bc%e3%83%a...,黒崎太陽会館

In [ ]:

#マルハンを削除
tenpo_name_tenpo_url_df = tenpo_name_tenpo_url_df[~tenpo_name_tenpo_url_df['店舗名'].str.contains('マルハン')]
display(tenpo_name_tenpo_url_df)
anaslo_all_tenpo_name_list:list[str] = tenpo_name_tenpo_url_df['店舗名'].tolist()
anaslo_all_tenpo_name_list

In [ ]:
anaslo_maruhan_tenpo_name_list:list[str] = list(tenpo_name_tenpo_url_df[tenpo_name_tenpo_url_df['店舗名'].str.contains('マルハン')]['店舗名'])
print(len(anaslo_maruhan_tenpo_name_list))
anaslo_maruhan_tenpo_name_list

In [77]:
surplus_tenpo_name_list:list[str] = list(set(anaslo_all_tenpo_name_list) - set(convert_dmm_to_anaslo_tenponame_list))
print(len(surplus_tenpo_name_list))
print(sorted(surplus_tenpo_name_list))

636
['123+N大阪本店', '123+N東雲店', '123+N橿原店', '123CiTY!WAKAYAMA店', '123ファースト八尾店', '123三木店', '123五社店', '123千林店', '123和歌山インター店', '123塩屋店', '123天理店', '123宝塚店', '123岩岡店', '123川西店', '123弁天町店', '123摂津店', '123新三田店', '123横浜西口店', '123江坂店', '123泉佐野店', '123泉北店', '123田辺店', '123神戸店', '123緑橋店', '123論田店', '123長吉店', '123長居店', '123難波店', '21SEIKI北上', '7&8', 'A TIME 新開地店', 'A TIME 本店', 'A TIME 須磨パティオ店', 'ALEA WORLD舞屋店', 'APAN21勝川店', 'APANCLUBハイ-ブリっヂ', 'APULO811', 'APULO塩尻北インター店', 'B-MAX玖珠店', 'BBステーション日暮里店', 'BEAM YAME', 'BEAM串間', 'BOOM天神本店', 'CLUB-D', 'CPセントラルパーク大分本店', 'Cochi・Pachi', 'DAMZ inn 坂町店', 'DAMZ inn 紫竹店', 'DAMZ上越店', 'DAMZ両津店', 'DAMZ六日町店', 'DAMZ十日町きらめき店', 'DAMZ塩沢店', 'DAMZ寺尾店', 'DAMZ小出店', 'DAMZ小千谷店', 'DAMZ木戸店', 'DAMZ村上店', 'DAMZ柿崎店', 'DAMZ見附今町店', 'DELFEEL NEW TOKYO', 'DOME大津', 'DON+', 'Dee1', 'Dステーション八千代店', 'Dステーション大村店', 'EVO直方', 'FAST天白店', 'FAST東浦店', 'FORUM-1神田店', 'G&L7', 'G&L一宮店', 'G7', 'GLOBE', 'GM2', 'GOGO千代田', 'GRAND SEPIA', 'HAP-1-NHWARABI', 'JAM登戸', 'JP-7館林店', 'JUMBO上大岡', 'KB SUPER STADIUM勝浦店', 'KING OF KINGS八幡店', 'KING OF KINGS大和川店', 'KING OF KINGS高槻店', 'KIZUNA8', 'KOHAKU堀田店', 'KOYO江南店', 'LAS VEGAS+別府店', 'LEO熊野', 'LOVE海南店', 'MATSUYA SLOT ZONE', 'MGM八街榎戸店', 'MGM芝山店', 'MORINAGA草牟田店', 'MORiNAGA伊集院店', 'MORiNAGA天文館G3店', 'No.1エメラルド', 'P-ROOTs MANDORE', 'P.A.自遊時館', 'PIA五反野', 'PIA京急川崎', 'PIA伊勢佐木町', 'PIA八王子', 'PIA厚木本館', 'PIA大森', 'PIA川口', 'PIA川崎ダイス', 'PIA川崎銀柳', 'PIA柏 スロット館', 'PIA横浜モアーズ', 'PIA池袋', 'PIA津田沼', 'PIA町田新館', 'PIA綱島', 'PIA雑色新館', 'PX牛久店', 'PX荒川沖店', 'Pia’91(ぴあ91)', 'Rose&Pia(ローズアンドピア)', 'SANCO梅島店', 'SAP松原店', 'SAP蒲生店', 'SKIP館山店', 'SLOT DOLPHiN', 'SLOT NAVY', 'SLOT ZAP竹尾店', 'SLOT ZEST森ノ宮店', 'SLOT.COLOSSEUM WIN', 'SR21中川店', 'SS ZAP多賀城店', 'SUNSUNアークス本牧店', 'Slot Club 夢屋石堂店', 'Slot Stadium JJ 東根店', 'T-MAX種子島鴨女店', 'TenderBOSS', 'U・パーク', 'VEGAS岡崎駅前店', 'VEGA千葉南店', 'WINS松園', 'WINS沼津', 'WINS紫波', 'YUMEYA浜松大柳店', 'ZAP PRESTIGE', 'ZAP蘇我店', 'ZENT吉原店', 'chaos佐沼店', 'chaos合川店', 'chaos大館店', 'chaos鷹巣店', 'monako monako', 'がちゃぽん上牧店', 'がちゃぽん南店', 'つつじヶ丘ワールド', 'ひまわり柏林台店', 'ひょうたん島', 'みとや水道橋店', 'やすだ仲宿店', 'やすだ四街道店', 'アイゼンはま街道店', 'アイゼン上之町店', 'アイゼン宇多津店', 'アイゼン陶店', 'アイランド米沢', 'アイランド長井店', 'アサヒ幡ヶ谷2号店', 'アップル姫路', 'アトラスアイゼン', 'アトランティスアイゼン', 'アバンザ十条', 'アフェスタ三春町店', 'アプリイ袋井', 'アミューズイチゴ', 'アミューズ城東&BBレジェンド', 'アミューズ河原町丸太町', 'アミューズ深江', 'アミューズ関目&BBハート', 'アミューズ高殿×BBインパクト', 'アムズガーデン石巻店', 'アムディ石橋', 'アルファ南4条店', 'アルファ南6条通店', 'アルファ旭町店', 'アルファ環状店', 'アルファ神楽店', 'アルファ豊岡店', 'アーリーバード弟子屈店', 'アーリーバード星が浦店', 'アーリーバード春採店', 'アーリーバード根室店', 'アーリーバード藻岩店', 'アーリーバード釧路店', 'イエスランド加世田店', 'イエスランド鹿屋店', 'イチバン甲南店', 'イーグルR-1浅草', 'ウィル河原木店', 'ウイングレット', 'ウイング河芸店', 'エスパス1300新小岩北口駅前店', 'エスパス日拓溝の口駅前本店', 'エムザスみやき店', 'エムザス大橋店', 'エランドール泉店', 'エルブランコ・アイゼン', 'オメガミュージアム栗東', 'オリエントヴィーナスホール', 'オリエント秋川店', 'オーギヤ豊橋駅前店', 'オークラ', 'オーパ荻窪', 'オーパ阿佐ヶ谷', 'ガリバー東大阪店', 'キコーナ十三店', 'キコーナ日立駅前店', 'キコーナ豊中上津島店', 'キコーナ阪急三国店', 'キャッスル大金店', 'キャッスル岩倉店', 'キャロル津福店', 'キューデンアネックス日暮里店', 'キューデンアネックス西新井', 'キューデン東口店', 'キングイーグルズ佐世保針尾店', 'キング中村橋店', 'キング観光サウザンド金山店', 'ギンザホール707', 'クァトロブーム富山田中町', 'クァトロブーム武生', 'クラウン守口店', 'クラウン本店', 'クラブハウス古賀支店', 'クラブハウス庄内支店', 'クラブハウス本店', 'クラブハウス玖珠支店', 'クラブハウス那珂川支店', 'クリエ新潟店', 'クリエ船橋競馬場店', 'グランキコーナ堺店', 'グランディールロッキー三島店', 'グランディールロッキー西条店', 'グランロッキーII', 'グレートハリウッド', 'グレート・ハリウッド&アルファー', 'コスミック八王子本店', 'コンサートホール北朝霞', 'コンサートホール成増スロット館', 'ゴッドスロットパーク', 'ゴルフ3', 'ゴードン多摩センターA館', 'ゴードン永山2', 'ゴールド北松戸店', 'サウスグランド', 'サンクステーション', 'サンタイガー', 'サントロペ伊勢佐木町', 'サンパレス本八幡', 'サンパレス西尾', 'サンフラワー瑞穂店', 'サンボール鶴見店', 'サンラッキー相模原店', 'ザ・ガーデン', 'シャングリラアイゼン', 'シリウス清武店', 'ジェーピー333王寺駅前店', 'ジャパンニューアルファ厚木金田店', 'ジャパンニューアルファ池袋店', 'ジャムフレンドクラブ久慈', 'ジャムフレンドクラブ滝沢', 'ジャムフレンドクラブ野辺地', 'ジャムフレンドクラブ黒石', 'ジャムフレンド上堂', 'ジャムフレンド弘前', 'ジャラン浅草店', 'ジョイフル吉兆川崎中央店', 'ジョイフル吉兆横浜西寺尾店', 'スクェアー', 'スポーツ館', 'スマイルマックス木更津', 'スマイル枝幸', 'スマイル知床', 'スマイル西根店', 'スマートプレゴ池袋', 'スロットLEO', 'スロットインパラディソ名取', 'スロットクラブジオ', 'スロットクラブ夢屋 豊橋佐藤店', 'スロットサントロペ横須賀中央', 'スロットドームK-1MITO', 'スロットバスターズ', 'スロットベラジオ門真店', 'スロットベルネス岡崎店', 'スーパーDステーション千葉みなと', 'スーパーDステーション海老名店', 'スーパードーム中央店', 'スーパードーム千本中立売店', 'スーパードーム新堀川店', 'スーパードーム桃山店', 'スーパードーム舞鶴店', 'スーパードーム西院店', 'スーパードーム野田川店', 'スーパーハリウッド1120', 'スーパーハリウッド800', 'スーパーハリウッド下中野', 'スーパーハリウッド伊勢佐木', 'スーパーハリウッド倉敷', 'スーパーハリウッド品川', 'スーパーハリウッド宇品&アルファー', 'スーパーハリウッド富町', 'スーパーハリウッド新山口', 'スーパーハリウッド柳井', 'スーパーハリウッド津山', 'スーパーハリウッド温品', 'スーパーハリウッド矢賀', 'スーパーハリウッド門司', 'スーパーハリウッド青江', 'スーパーメルヘンワールド幸町店', 'セブンスター', 'ゼロタイガー店', 'タイガー川棚店', 'タイヨー六甲道', 'ダイエー守山店', 'ダイエー日立店', 'ダイナム三重芸濃店', 'ダイナム下妻店', 'ダイナム今市店', 'ダイナム児玉店', 'ダイナム八街店', 'ダイナム兵庫和田山店', 'ダイナム兵庫篠山店', 'ダイナム北越谷店', 'ダイナム千葉成東店', 'ダイナム友部店', 'ダイナム古河店', 'ダイナム吉井店', 'ダイナム四街道店', 'ダイナム多野新町店', 'ダイナム大阪泉佐野店', 'ダイナム安中店', 'ダイナム小見川店', 'ダイナム岐阜瑞浪店', 'ダイナム岩瀬店', 'ダイナム岩舟店', 'ダイナム常陸大宮店', 'ダイナム御坊店', 'ダイナム御薗店', 'ダイナム戸ヶ崎店', 'ダイナム新小岩店', 'ダイナム新治店', 'ダイナム東村山店', 'ダイナム東金店', 'ダイナム松阪店', 'ダイナム横芝店', 'ダイナム橋本店', 'ダイナム武蔵境店', 'ダイナム滋賀八日市店', 'ダイナム滋賀湖北店', 'ダイナム滋賀湖南店', 'ダイナム相模原店', 'ダイナム矢板店', 'ダイナム神栖店', 'ダイナム茨城土浦店', 'ダイナム茨城稲敷店', 'ダイナム西日暮里スロット店', 'ダイナム西那須野店', 'ダイナム貴志川店', 'ダイナム足利店', 'ダイナム近江店', 'ダイナム金町南口店', 'ダイナム銚子店', 'ダイナム静岡御前崎店', 'ダイナム館山店', 'ダイナム館林店', 'ダイナム高萩店', 'ダイナム鹿嶋店', 'ダイナム黒磯店', 'チャンピオンタイキ竹島店1号館', 'デラックスセブン', 'デルパラ10南大沢店', 'デルパラ7堀之内', 'デルパラ7境港店', 'トワーズ前橋高井店', 'トワーズ安中店', 'トワーズ狭山店', 'トワーズ秩父店', 'トワーズ船橋店', 'トワーズ藤沢店', 'トワーズ西八店', 'ドリームドリーム2', 'ドリームランドパート2', 'ニューアサヒ茅野本町店', 'ニュークラウン津田沼店', 'ニューグランド貫井店', 'ニュースター一ツ家店', 'ニューダイエイ', 'ニューヨークP-1', 'ニューヨーク浦和店', 'ニュー太平', 'ニュー比良', 'ニラクひたち野うしく店', 'ノア東松山店', 'ノースグランド', 'ハイパーハリウッド', 'ハリウッドIIIスター', 'ハリウッド・ハリーズ', 'ハリウッド・ハリーズ高殿', 'ハリウッド七光台', 'ハリウッド佐山', 'ハリウッド東雲', 'ハリウッド美祢', 'ハリウッド野田', 'パチスロエムアンドエム', 'パチスロ甲子園', 'パチンコ22花巻インター店', "パチンコCAT's北上店", 'パチンコキサイ', 'パチンコタイガー苦竹店2', 'パチンコダイイチ気仙沼店', 'パチンコプラザラ・カータ足利店', 'パチンコボンボン函館店', 'パチンコボンボン大町店', 'パチンコボンボン豊岡店', 'パチンコ三ツ星笹谷店', 'パチンコ三ツ星野田町店・三ッ星野田町2号店', 'パチンコ大学A館', 'パラッツォ志津店', 'パラッツォ秋津店', 'パラッツォ鶴ヶ峰スロット館', 'パラッツォ鶴ヶ峰店', 'パラディソ二日町店', 'パラディソ仙台東インター店', 'パラディソ古川ドルフィン館', 'パラディソ名取りんくう店', 'パラディソ大和ドルフィン館', 'パラディソ大和店', 'パラディソ小鶴新田店', 'パラディソ岩切店', 'パラディソ柴田店', 'パラディソ沖野店', 'パラディソ泉店', 'パラディソ涌谷店', 'パラディソ石巻元倉店', 'パーラーDAIKI三軒茶屋店', 'パーラーEX滑川店', 'パーラージェイクラブ寒河江店', 'パーラージェイクラブ村山店', 'パーラージェイクラブ河北店', 'パーラースター', 'パーラーファンタジー渡里店', 'パーラープラザ515', 'パーラー太陽旭町店', 'パーラー甲子園西町店', 'パールサーティーン', 'ヒノマル新柏店', 'ヒノマル都立大１号店', 'ビッグアップル.出島店', 'ビッグアップル.大村店', 'ビッグスポーツ館', 'ビッグロッキー北久米店', 'ビッグロッキー坂出店', 'ビッグロッキー堀江店', 'ビッグロッキー新居浜店', 'ビッグロッキー東予店', 'ビーム東大和店', 'ピーアーク相模大野', 'ピークス柳崎店', 'ピーズ・タウン桜ヶ丘', 'ピーバンク港南台店', 'ファラオ名護店', 'フェイス1100瑞穂店', 'フェイス1300小倉南', 'フェイス666神崎店', 'フェイス701巨勢', 'フェイス777遠賀', 'フェイス850佐賀', 'フェイス860橿原', 'フェイス950高須', 'フェスタ・唐津店', 'プラザ西台', 'プリンス800', 'プリンス岡崎店', 'プリンス浦安', 'プレイランドオーナー', 'プレイランドトミダ', 'プレイランドハッピー三光店', 'プレイランドハッピー二十四軒店', 'プレイランドハッピー八軒店', 'プレイランドハッピー千歳駅前店', 'プレイランドハッピー南6条店', 'プレイランドハッピー厚別店', 'プレイランドハッピー厚別通店', 'プレイランドハッピー小樽駅前店', 'プレイランドハッピー屯田四条店', 'プレイランドハッピー手稲前田店', 'プレイランドハッピー本通店', 'プレイランドハッピー東苗穂店', 'プレイランドハッピー栄町店', 'プレイランドハッピー白石店', 'プレイランドハッピー築港店', 'プレイランドハッピー藻岩店', 'プレイランドハッピー西宮の沢店', 'プレイランドハッピー西町店', 'プレイランドハッピー麻生店', 'プレイランド第一平和', 'プレゴEX池袋南口店', 'プレゴ湯河原店', 'プレミアSLOT LAB高槻店', 'ベガス1700枚方店', 'ベガス東根店', 'ベルエアMAX本城店', 'ベルシティザシティ深谷店', 'ミクちゃんガイア東加古川店', 'ミクちゃんガイア板宿店', 'ミクちゃんガイア板宿東店', 'ミッド・ガーデン新発田店', 'ミリオン1100朝霞店', 'ミリオンダラー山科店', 'ミリオン和光10号店', 'ミリオン平和台16号店', 'ミリオン成増7号店', 'ミリオン東武練馬13号店', 'ミリオン沖浜店', 'ミリオン石神井公園店スロット館', 'ミリオン高円寺22号店', 'メガフェイス1030伊都', 'メガフェイス1111淀川', 'メガフェイス1180座間', 'メガフェイス1250田川店', 'メガフェイス1500宗像', 'メガフェイス880博多本店', 'メガフェイス960飯塚', 'メガボックス東松山店', 'メガボックス行田店', 'メトロ潮見通り店', 'メビウス西川口店', 'メルヘンワールド井川店', 'メルヘンワールド亘理店', 'メルヘンワールド富岡店', 'メルヘンワールド涌谷店', 'メルヘンワールド石巻店', 'メルヘンワールド長町南店', 'メルヘンワールド鶴岡店', 'ライオンズ', 'ライオン田中前店', 'ライジング留萌', 'ライブガーデン篠崎店', 'ラッキー一番333常滑インター店', 'ランドマーク久居店', 'リジョイス', 'ワンダーランドうきはバイパス店', 'ワンダーランドメタルポリス', 'ワンダーランド三池店', 'ワンダーランド中津米山店', 'ワンダーランド伊万里店', 'ワンダーランド佐世保白岳店', 'ワンダーランド八江店', 'ワンダーランド吉井店', 'ワンダーランド多久店', 'ワンダーランド大分南店', 'ワンダーランド大分皆春店', 'ワンダーランド宮崎芳士店', 'ワンダーランド武雄店', 'ワンダーランド江北店', 'ワンダーランド臼杵店', 'ワンダーランド高田店', 'ワンダーランド鹿島店', 'ヴィーナスギャラリー中津店', 'ヴィーナスギャラリー別府II店', 'ヴィーナスギャラリー大分I店', 'ヴィーナスギャラリー大阪店', 'ヴィーナスギャラリー姫路II店', 'ヴィーナスギャラリー姫路白浜II店', 'ヴィーナスギャラリー姫路白浜I店', 'ヴィーナスギャラリー日田店', 'ヴィーナスギャラリー清川店', 'ヴィーナスギャラリー神戸店', 'ヴィーナスギャラリー花北店', 'ヴィーナスギャラリー西新店', 'ヴィーナスギャラリー飯塚店', 'ヴィーナス市原', '一番舘草加店', '丸三斐川店', '丸三松江本店', '丸之内ヘリオス1000丸亀', '丸之内ヘリオス1000竹原', '僕のAパン日進店', '円山マルハチ', '出玉本舗玉えもんお花茶屋店', '出玉王田無店', '吉兆川崎中央店', '吉兆川崎野川店', '吉兆東名川崎店', '吉兆横浜西寺尾店', '吉兆横浜駒岡店', '国際センター中野店', '夢屋加古川店', '夢屋加賀店', '夢屋土岐店', '夢屋多度津店', '夢屋小諸店', '夢屋恵那店', '夢屋浦安店', '夢屋祖父江店', '夢屋羽後店', '夢屋高山店', '夢屋黒磯店', '大井ニュー東京東口店', '大学院', '大東パチンコ', '大東洋本店', '大東洋梅田店', '宝島', '嵯峨野ラッキー', '巣鴨会館', '成城ニュージャパン', '新世界', '日の出会館', '東宝プラザ師勝店', '東宝プラザ野並店', '東横フェスタ7', '桃太郎', '梅津KBグランド', '楽園上永谷店', '楽園大山店', '楽園柏店', '楽園池袋店', '楽園溝の口店', '楽園蒲田店', '湖月下郡店', '満天日南店', '石山オメガ', '神志山KBシティ', '稲口会館', '蕨トップス', '遊スポットボンボン', '麗都宇都宮テクノ店']

In [106]:
l1_l2_and = set(anaslo_all_tenpo_name_list) & set(convert_dmm_to_anaslo_tenponame_list)
print(len(l1_l2_and))
# {'c', 'b'}

2247

In [ ]:
for name in sorted(surplus_tenpo_name_list):
    print(name)

In [82]:
print(len(convert_dmm_to_anaslo_tenponame_list))

2352

In [ ]:
#https://hall-navi.com/hole_view?hid=239083100000015111

In [ ]:
#マルハンを抜く
concat_serch_df_1 = concat_serch_df[~concat_serch_df['アナスロ(変換後)'].str.contains('マルハン')]
concat_serch_df_1 = concat_serch_df_1[concat_serch_df_1['アナスロ(変換後)'].str.contains('データ一覧')]
concat_serch_df_1['アナスロ(変換後)'] = concat_serch_df_1['アナスロ(変換後)'].map(lambda x: x.replace(' データ一覧', ''))
convert_dmm_to_anaslo_tenponame_list:list[str] = concat_serch_df_1['アナスロ(変換後)'].tolist()
print(len(convert_dmm_to_anaslo_tenponame_list))
sorted(convert_dmm_to_anaslo_tenponame_list)

In [88]:
anaslo_scraping_error_tenpo_name_dict = {}
browser = webdriver.Chrome(ChromeDriverManager().install())
non_extract_serched_df = pd.DataFrame(index=[], columns=[])
dmm_and_anaslo_tenpo_name_dict = {}
#no_scraping_anaslo_tenpo_name = []
i = 0
for tenpo_name in sorted(surplus_tenpo_name_list):
    try:
        url = f"https://www.google.com/search?q=アナスロ  {tenpo_name} データ一覧&hl=ja&source=hp/"
        #print('データ取得中...30秒ほど時間がかかります。')
        browser.get(url)
        html = browser.page_source.encode('utf-8')
        elems_rec = browser.find_elements_by_class_name('MjjYud')
        elems_rec[0].text.split('\n')
        #print('アナスロと出る部分',elems_rec[0].text.split('\n')[1])

        scraping_anaslo_name = elems_rec[0].text.split('\n')[0]
        dmm_and_anaslo_tenpo_name_dict[dmm_tenpo_name] = scraping_anaslo_name
        non_extract_serched_df = pd.concat([non_extract_serched_df,pd.DataFrame([[tenpo_name,scraping_anaslo_name]])],axis=0)
        time.sleep(2)
        i += 1
        # if i > 3:
        #     break
    except Exception as e:
        anaslo_scraping_error_tenpo_name_dict[dmm_tenpo_name] =  e
        print('エラー店舗',dmm_tenpo_name,e)
        continue

====== WebDriver manager ======
Current google-chrome version is 114.0.5735
Get LATEST chromedriver version for 114.0.5735 google-chrome
Driver [C:\Users\slotd\.wdm\drivers\chromedriver\win32\114.0.5735.90\chromedriver.exe] found in cache
C:\Users\slotd\AppData\Local\Temp/ipykernel_43180/132945816.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())
C:\Users\slotd\AppData\Local\Temp/ipykernel_43180/132945816.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elems_rec = browser.find_elements_by_class_name('MjjYud')

In [94]:
non_extract_serched_df.rename(columns={0: "DMM未取得アナスロ店舗名",1: "検索結果アナスロ店舗名"}, inplace=True)

In [95]:
non_extract_serched_df

        DMM未取得アナスロ店舗名              検索結果アナスロ店舗名
0           123+N大阪本店          123+N大阪本店 データ一覧
0            123+N東雲店           123+N東雲店 データ一覧
0            123+N橿原店           123+N橿原店 データ一覧
0   123CiTY!WAKAYAMA店  123CiTY!WAKAYAMA店 データ一覧
0         123ファースト八尾店        123ファースト八尾店 データ一覧
..                ...                      ...
0            神志山KBシティ           神志山KBシティ データ一覧
0                稲口会館               稲口会館 データ一覧
0               蕨トップス              蕨トップス データ一覧
0           遊スポットボンボン          遊スポットボンボン データ一覧
0           麗都宇都宮テクノ店          麗都宇都宮テクノ店 データ一覧

[636 rows x 2 columns]

In [105]:
non_extract_serched_df.to_csv('csv/アナスロにあってDMMアプリにない店舗名一覧.csv')

In [19]:
convert_tenponame_dict_df = pd.DataFrame(dmm_and_anaslo_tenpo_name_dict.values(), index=dmm_and_anaslo_tenpo_name_dict.keys())
convert_tenponame_dict_df = convert_tenponame_dict_df.reset_index()
convert_tenponame_dict_df  = convert_tenponame_dict_df.rename(columns={'index': '変換前',0: '変換後'})
#convert_tenponame_dict_df['変換後'] = convert_tenponame_dict_df['変換後'].apply(lambda x: x.replace(' データ一覧',''))
convert_tenponame_dict_df.to_csv(r'csv\dict_0503_アナスロ店舗名変換データ一覧.csv')
convert_tenponame_dict_df

              変換前                        変換後
0        100℃大曽根店             100℃大曽根店 データ一覧
1         100℃守山店              100℃守山店 データ一覧
2     100万ドルアムアム店    よろこびの街100万ドルアムアム店 データ一覧
3   100万ドル上田インター店  よろこびの街100万ドル上田インター店 データ一覧
4       100万ドル中野店      よろこびの街100万ドル中野店 データ一覧
5     123+Nはりまや橋店          123+Nはりまや橋店 データ一覧
6      123+N和歌山本店           123+N和歌山本店 データ一覧
7       123+N岡山本店            123+N岡山本店 データ一覧
8        123+N布施店             123+N布施店 データ一覧
9       123+N羽曳野店            123+N羽曳野店 データ一覧
10       123+Ｎ松原店             123+N松原店 データ一覧

In [ ]:
#明日の生成

import datetime
target_day = datetime.date.today() + datetime.timedelta(days=1)
print(target_day)

#明日の日付を文字列に変換

print(target_day.strftime('%Y/%m/%d'))

In [112]:
len(target_day_df['店舗名'].unique())

1978

In [127]:
l1_l2_and = set(surplus_tenpo_name_list) & set(latest_tenpo_name_list)
print(len(l1_l2_and))

440

In [ ]:
for x in sorted(l1_l2_and):
    print(x)

In [ ]:
surplus_tenpo_name_list

In [ ]:
latest_tenpo_name_list = list(set(tenpo_name_list))
latest_tenpo_name_list

In [129]:
len(list(set(tenpo_name_list)))

2621

In [ ]:
tenpo_name_list = []
for i in range(1, 12):
    target_day = datetime.date.today() - datetime.timedelta(days=i)
    print(target_day)
    target_day_str = target_day.strftime('%Y-%m-%d')
    target_day_df = pd.read_csv(f'csv/{target_day_str}_anaslo.csv')
    display(target_day_df)
    for tenpo_name in list(target_day_df['店舗名'].unique()):
        tenpo_name_list.append(tenpo_name)
    #break

In [11]:
tenpo_name_list ='''123+N和歌山本店
123+N大阪本店
123+N布施店
123+N羽曳野店
123横浜西口店
123長吉店
123門真店
123難波店
123鶴橋店
123+N橿原店
BEAM HARA
Dステーション仙台東店
Dステーション上田店
Dステーション新小岩店
EVO2
GRAND G-ONE甲賀水口店
HYPER ARROW美原店
KING BOSS 1000
MEGA BEAM ASAKURA 999
メガコンコルド1020刈谷知立店
メガコンコルド1111BLAZE店
メガコンコルド1280稲沢店
MGM小山本郷店
PIA京急川崎
PIA八王子
PIA川崎ダイス
PIA柏 スロット館
PIA横浜モアーズ
PIA町田新館
スーパーDステーション上里店
スーパーDステーション立川店
スーパーDステーション鴻巣店
WIN-WIN ONE
アスカ熊谷店
アスカ狭山店
アビバ湘南台店
アビバ関内
ジュラク王子店
エクスアリーナ柏
エクスアリーナ東京
オゼック国分寺北口
キコーナ吹田店
キコーナ守口店
キコーナ小田原扇町店
キコーナ海老名店
キコーナ茨木店
グランキコーナ堺店
グランキコーナ泉佐野店
グランキコーナ相模原店
グランドオータ瀬谷店
サンパレス環七大杉店
ZAP PRESTIGE
ジアスセンター南
ジャムフレンドクラブ朝霞店
スロット123梶取店
テンガイ・与次郎店
パラッツォ三郷中央店
ビッグアップル.加古川
ピーアーク三田
ピーアークピーくんステーション
ピーアーク相模原
ピーアーク相模大野
ピーアーク竹ノ塚スタジオ
ピーアーク草加
メガフェイス1180座間
プレイランド第一平和
マルハンいわき店
マルハン草薙アピア店
マルハン青梅新町店
ミリオン習志野店
メガコンコルド800春日井店+
レッドロック学芸大学駅前店
UNO三ノ輪
上尾UNO
UNO上福岡
UNO中山
ZoRoN中山
UNO仙川
出玉王田無店
UNO北越谷
UNO南柏
UNO新橋
第一プラザ西浦和店
UNO本八幡
楽園上新屋店
楽園川崎店
楽園沼津店
楽園浜松ザザシティ店
楽園袋井店
UNO清瀬
UNO秋葉原
UNO鶴見
BEAM by HIKARI'''.split('\n')
len(tenpo_name_list)

93

In [20]:
convert_tenponame_dict_df['変換後']

0                100℃大曽根店 データ一覧
1                 100℃守山店 データ一覧
2       よろこびの街100万ドルアムアム店 データ一覧
3     よろこびの街100万ドル上田インター店 データ一覧
4         よろこびの街100万ドル中野店 データ一覧
5             123+Nはりまや橋店 データ一覧
6              123+N和歌山本店 データ一覧
7               123+N岡山本店 データ一覧
8                123+N布施店 データ一覧
9               123+N羽曳野店 データ一覧
10               123+N松原店 データ一覧
Name: 変換後, dtype: object

In [ ]:
anaslo_scraping_error_tenpo_name_list = []
browser = webdriver.Chrome(ChromeDriverManager().install())
serched_df = pd.DataFrame(index=[], columns=[])
# for target_day in list(sammy_sf_report_df['イベント日'].unique()):
#     print(target_day)
error_tenpo_name_list = []
target_day_list = ['2023-06-02','2023-06-03']
anaslo_scraping_error_tenpo_name_list  = []
for tenpo_name in convert_tenponame_dict_df['変換後']:
    anaslo_parlar_name_url = parlar_name_parlar_url_dict[tenpo_name]
    anaslo_url_parlarname =urllib.parse.unquote((anaslo_parlar_name_url.split('/')[-2])).replace('-データ一覧','')
    for date in target_day_list:
        try:
            url = f"https://ana-slo.com/{date}-{anaslo_url_parlarname}-data/"
            print(url)
            #print('データ取得中...30秒ほど時間がかかります。')
            browser.get(url)
            html = browser.page_source.encode('utf-8')
            dfs = pd.read_html(html)
            #display(tenpo_df)
            #time.sleep(1)
            elements = browser.find_element(By.CLASS_NAME, 'st-catgroup')
            prefecture = elements.text.split(' ')[-1]
            for df in  dfs:
            #print(df.columns)
                if '機種名' in list(df.columns):
                    ichiran_df = df
                    ichiran_df['店舗名'] = tenpo_name
                    #ichiran_df['都道府県'] = prefecture
                    ichiran_df['機種名'] = ichiran_df['機種名'].map(removal_text)
                    first_column = ichiran_df.pop('店舗名')
                    ichiran_df.insert(0,'店舗名',first_column)
                    break
            tenpo_day_data_df = ichiran_df
            tenpo_day_data_df = tenpo_day_data_df.sort_values('台番号')
            tenpo_day_data_df['日付'] = f"{date}"
            serched_df = pd.concat([serched_df,tenpo_day_data_df],axis=0)
        except Exception as e:
            anaslo_scraping_error_tenpo_name_list.append(tenpo_name)
            print('エラー店舗',tenpo_name,e)
            continue

In [24]:
serched_df

,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
339,123+N和歌山本店,モンキーターンIV,705,102,-185.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-03
340,123+N和歌山本店,モンキーターンIV,706,965,-641.0,0,1,2.0,1/321.7,1/0.0,1/965.0,1/482.5,2023-06-03
341,123+N和歌山本店,モンキーターンIV,707,287,-126.0,0,1,2.0,1/95.7,1/0.0,1/287.0,1/143.5,2023-06-03
342,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,708,1712,580.0,0,6,21.0,1/63.4,1/0.0,1/285.3,1/81.5,2023-06-03
343,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,709,1310,-1534.0,0,4,2.0,1/218.3,1/0.0,1/327.5,1/655.0,2023-06-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,BEAM by HIKARI,沖ドキGOLD,1172,727,1458.0,10,4,NaN,1/51.9,1/72.7,1/181.8,NaN,2023-06-02
132,BEAM by HIKARI,沖ドキGOLD,1173,1877,4039.0,32,5,NaN,1/50.7,1/58.7,1/375.4,NaN,2023-06-02
133,BEAM by HIKARI,沖ドキGOLD,1175,408,-546.0,0,1,NaN,1/408.0,1/0.0,1/408.0,NaN,2023-06-02
134,BEAM by HIKARI,沖ドキGOLD,1176,1697,1169.0,17,3,NaN,1/84.8,1/99.8,1/565.7,NaN,2023-06-02
135,BEAM by HIKARI,沖ドキGOLD,1177,1974,424.0,16,2,NaN,1/109.7,1/123.4,1/987.0,NaN,2023-06-02

In [29]:
serched_df['日付'] = serched_df['日付'].astype(str)

In [33]:
target_day_list = ['2023-06-03','2023-06-02']

In [36]:
target_day_list
for date_str in target_day_list:
    serched_df[serched_df['日付'] == date_str].to_csv(fr'csv/{date_str}_scraping_anaslo.csv')

In [60]:
concat_data_df = pd.DataFrame(index=[], columns=[])

for date_str in target_day_list:
    csv_file_name  = f'csv/{date_str}_scraping_anaslo.csv'
    data_df =  pd.read_csv(csv_file_name)
    concat_data_df=  pd.concat([concat_data_df, data_df], axis=0)

In [49]:
concat_data_df['店舗名'].unique()

array(['123+N和歌山本店', '123+N大阪本店', '123+N布施店', '123+N羽曳野店', '123+N松原店',
       '123岩岡店', '123横浜西口店', '123長吉店', '123門真店', '123難波店', '123鶴橋店',
       'BEAM HARA', 'GRAND G-ONE甲賀水口店', 'HYPER ARROW美原店',
       'KING BOSS 1000', 'メガコンコルド1020刈谷知立店', 'メガコンコルド1111BLAZE店',
       'MGM小山本郷店', 'PIA京急川崎', 'PIA八王子', 'PIA川崎ダイス', 'PIA柏 スロット館',
       'PIA横浜モアーズ', 'PIA町田新館', 'スーパーDステーション入間店', 'スーパーDステーション鴻巣店',
       'WIN-WIN ONE', 'アスカ狭山店', 'アビバ湘南台店', 'アビバ関内', 'ジュラク王子店',
       'アムズガーデン石巻湊店', 'ウエスタン環七南葛西店', 'エクスアリーナ柏', 'エクスアリーナ東京', 'キコーナ吹田店',
       'キコーナ守口店', 'キコーナ小田原扇町店', 'キコーナ海老名店', 'グランキコーナ堺店', 'グランキコーナ相模原店',
       'グランドオータ瀬谷店', 'スロットサントロペ横須賀中央', 'サンパレス環七大杉店', 'ジャムフレンドクラブ朝霞店',
       'スロット123梶取店', 'スーパーライブガーデン行田店', 'テンガイ・与次郎店', 'ニューヨークニューヨーク泉店',
       'ニューヨークニューヨーク臨海店', 'パラッツォ三郷中央店', 'パラッツォ鳩ヶ谷店', 'パールショップともえセンター南店',
       'パールショップともえ市原店', 'パールショップともえ松戸店', 'ビッグアップル.加古川', 'ビッグアップル．秋葉原店',
       'ピーアーク三田', 'ピーアーク千葉駅前', 'ピーアーク相模原', 'ピーアーク相模大野', 'ピーアーク竹ノ塚スタジオ',
       'ピーアーク草加', 'プレイランド第一平和', 'マルハンなんば新館', 'マルハンなんば本館', 'マルハンメガシティ羽曳野',
       'マルハン上牧店', 'マルハン加島店', 'マルハン堺遠里小野店', 'マルハン大安寺店', 'マルハン布施店',
       'マルハン新世界店', 'マルハン梅田店', 'マルハン橿原北店', 'マルハン草薙アピア店', 'マルハン貝塚店',
       'マルハン青梅新町店', 'ミリオン習志野店', 'メガコンコルド800春日井店+', 'ライブガーデン佐野スロット店',
       'レッドロック学芸大学駅前店', '三ノ輪UNO', '上尾UNO', '中山UNO', '中山ZoRoN', '仙川UNO',
       '出玉王田無店', '北越谷UNO', '南柏UNO', '新橋UNO', '第一プラザ西浦和店', '本八幡UNO',
       '楽園上新屋店', '楽園川崎店', '楽園沼津店', '楽園袋井店', '秋葉原UNO', '鶴見UNO',
       'BEAM by HIKARI'], dtype=object)

In [39]:
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
#認証情報設定
#ダウンロードしたjsonファイル名をクレデンシャル変数に設定（秘密鍵、Pythonファイルから読み込みしやすい位置に置く）
credentials = ServiceAccountCredentials.from_json_keyfile_name(r'sercret_json\twitteranalytics-jsonsercretkey.json', scope)
gc = gspread.authorize(credentials)
workbook = gc.open_by_key('105cZcOMvRnx4hNA-N7oypGwIXuetCRZJEe1IHf9R45c')
worksheet = workbook.worksheet('機種名変換テーブル')
kisyu_name_convert_df = read_spreadsheet(workbook,worksheet)
kisyu_name_convert_df

serch_kisyu_name_list:list[str] = list(kisyu_name_convert_df['変換前アナスロ機種名'])
serch_kisyu_name_list = list(set(serch_kisyu_name_list))
serch_kisyu_name_list = sorted(serch_kisyu_name_list)
#serch_kisyu_name_list.remove('')
print(len(serch_kisyu_name_list ))
serch_kisyu_name_list.remove('')
serch_kisyu_name_list

75

['43Lパチスロ北斗の拳ADXR',
 'ANEMONE 交響詩篇エウレカセブン HI‐EVOLUTION',
 'ANEMONE交響詩篇エウレカセブンHIEVOLUTION',
 'Angel Beats!',
 'AngelBeats',
 'Lスマスロ北斗',
 'Lパチスロ北斗の拳ADXR',
 'RYUKYUBEAT30',
 'S Angel beats! XF',
 'S コードギアス',
 'S パチスロコードギアス',
 'Sエウレカセブン HIEVO ZR',
 'SエウレカセブンHIEVOZR',
 'Sコードギアス反逆のルルーシュ',
 'Sコードギアス叛逆のルルーシュKZ',
 'Sハ-ドボイルドXX',
 'Sパチスロ交響詩篇エウレカセブンHI-EVOLZR',
 'Sパチスロ北斗の拳',
 'Sパチスロ幼女戦姫記ZR',
 'Sヱウレカセブン3',
 'S交響詩篇エウレカセブンHI-EVOL',
 'S北斗の拳昇天',
 '‐S盾勇者成り上がり',
 'あの日見た花の名前を僕達はまだ知らない。',
 'けものフレFS',
 'けものフレンズ',
 'この素晴らしい世界に祝福を',
 'この素晴らしい世界に祝福を！',
 'アラジンAクラシック',
 'エウレカセブン',
 'ガメラ',
 'コードギアス反逆のルルーシュ',
 'コードギアス反逆のルルーシュ3',
 'コードギアス反逆のルルーシュZF',
 'スマスロ北斗の拳',
 'チェインクロニクル',
 'ツインエンジェルP',
 'ツインエンジェルPARTY',
 'ディスクUP2',
 'ディスクアUP2',
 'ディスクアップ2',
 'ドリフターズ',
 'ハードボイXX',
 'ハードボイルド',
 'パチスロ ツインエンジェルBREAK',
 'パチスロディスクアップ',
 'パチスロファンシースターオンライン2',
 'パチスロ交響詩篇エウレカセブ',
 'パチスロ猛獣王 王者の咆',
 'パチスロ猛獣王 王者の咆ZZ',
 'ファンタシースターオンライン2',
 'ペルソナ5',
 '七つの大罪',
 '交響詩篇エウレカセブン3 HI-EVOLUTION ZERO',
 '交響詩篇エウレカセブン3HIEVOLUTIONZERO',
 '北斗の拳 天昇',
 '北斗の拳 宿命',
 '北斗の拳天昇',
 '北斗の拳宿命',
 '回胴黙示録カイジ~沼~',
 '幼女戦記',
 '楽園追放',
 '物語シリーズ セカンドシーズン',
 '物語シリーズセカンドシーズン',
 '猛獣王 王者の咆哮',
 '猛獣王王者の咆哮',
 '甲鉄城のカバネリ',
 '盾の勇者の成り上がり',
 '真・北斗無双',
 '蒼天の拳',
 '蒼天の拳 朋友',
 '蒼天の拳4',
 '蒼天の拳朋友',
 '頭文字D']

In [43]:
new_kisyu_name_candidate_list = sorted(list(concat_data_df['機種名'].unique()))
print(len(new_kisyu_name_candidate_list))
kisyu_name_candidate_list = list(set(new_kisyu_name_candidate_list) - set(serch_kisyu_name_list)) 
print(len(kisyu_name_candidate_list))
for x in sorted(kisyu_name_candidate_list):
    print(x)

222
193
2027DB
BIG島唄30
BLACKLAGOONZERObulletMAX
BOOWY
CCエンジェル
CREANewクレアの秘宝伝
FAIRYTAIL2
GANTZ極THESURVIVALGAME
GI優駿倶楽部2
GI優駿倶楽部3
HEYエリートサラリーマン鏡
HEY鏡
KING黄門ちゃま
Lucky海物語
Lパチスロベルセルク無双EV
Lベルセルク無双
OVERLORD絶対支配者光臨II
OVERSLOT「AINZOOALGOWN絶対支配者光臨」
PYRAMIDEYE
Reゼロから始める異世界生活
Reゼロから始める異世界生活ApexVacation
SG1優俊倶楽部2
STEINSGATE
SメイドインアビスEN
S牙狼黄金騎士
TIGERBUNNY
WakeUpGirlsSevenMemories
いろはに愛姫
うしおととら雷槍一閃
うまい棒
えとたま
かまいたちの夜
とある科学の超電磁砲
どんだけ
にゃんこ大戦争BIGBANG
ひぐらしのなく頃に祭2
ひぐらしのなく頃に祭2カケラ遊び編
もっとクレアの秘宝伝女神の歌声と太陽の子供達
もっとチバリヨ25
もっとチバリヨ30
アイドルマスターミリオンライブ
アイムジャグラーEX
アイムジャグラーEXTP
アカメが斬る
アクエリオンALLSTARS
アナザーゴッドハーデス解き放たれし槍撃ver
アナターのオットはーです
アバサー
ウルトラマンタロウ暴君SPEC
エヴァンゲリオンフェスティバル
ガールズケイリンGIフェアリーグランプリ
ガールズパンツァーGこれが私の戦車道です
ガールズパンツァー劇場版
キャッツアイ
キングハナハナ30
ギャグダー
ケロット4
ゴブリンスレイヤー
サラリーマン金太郎MAX
サンダーVライトニング
シャア専用パチスロ逆襲の赤い彗星
シンデレラブレイド4
ジャベリン
スターパルサー
スナイパイ71
スロドル
スーパーハナハナ
スーパーハナハナ30
スーパービンゴギャラクシー
スーパーリオエース
スーパーリノSP
スーパー海物語INJAPAN祭
ゼーガペイン2
ソードアートオンライン
タブータトゥー
ダンまち外伝ソードオラトリア
チバリヨ25
チバリヨ30
デビルメイクライ5
ドンちゃん2
ドンチャン2
ニューゲッターマウス
ニューハナハナゴールド
ニューパルサーDX3
ニューパルサーSPIII
ハイスクールD×D2ハーレム王に俺はなる
ハイハイシオサイ
ハイハイシオサイ2
ハッピージャグラーVIII
ハナハナホウオウ天翔
ハナハナホウオウ天翔30
バイオハザード7レジデントイービル
バイオハザードRE2
バキ強くなりたくば喰らえ
バジリスク絆2
バラエティ
バンバンクロス
バーサスリヴァイズ
ビッグシオ
ピンクパンサーSP
ファンキージャグラー2
フレームアームズガール
ブラックラグーン4
ボンバーガール
マイジャグラーV
マイフラワー230
マイフラワー30
マクロスデルタ
マジカルハロウィンTrickorTreat
マッピー
メイドインアビス
モモキュンソード
モンキーターンIV
モンスターハンターワールド
モンスターハンターワールドTM黄金狩猟
モンスターハンターワールドアイスボーン
ラストユートピア
ラブ嬢2
ラブ嬢2プラス
リノヘブン
リングにかけろワールドチャンピオンカーニバル編
リング恐襲ノ連鎖
リング運命の秒刻
ルパン三世
ロリクラ☆ほーるど
ヱヴァンゲリヲンAT777
ヴィーナスゾーン
主役は銭形3
主役は銭形4
停止台パチスロ
劇場版魔法少女まどか☆マギカ前編始まりの物語後編永遠の物語
劇場版魔法少女まどか☆マギカ新編叛逆の物語
十字架5
吉宗3
呪怨再誕
咲Saki
地獄少女あとはあなたが決めることよ
大花満
天下布武4
対魔導学園35試験小隊
戦国コレクション5
戦国乙女暁の関ヶ原DARKNESS
戦国無双3
戦姫絶唱シンフォギア勇気の歌
押忍サラリーマン番長2
押忍番長ZERO
探偵オペラミルキィホームズR大収穫祭
政宗3
政宗戦極
新ハナビ
新世紀エヴァンゲリオン魂の共鳴
新鬼武者2
新鬼武者DAWNOFDREAMS
機動戦士ガンダムユニコーン
沖ドキ2
沖ドキDUO
沖ドキDUO30
沖ドキGOLD
沖ドキGOLD30
沖ハナ30
沖縄フェスティバル30
炎炎ノ消防隊
犬夜叉
百花繚乱サムライガールズ
真俺の空
真天下布武
秘宝伝解き放たれた女神
笑ゥせぇるすまん4
笑ゥせぇるすまん絶笑
絶対衝激III
緋弾のアリアII
聖闘士星矢冥王復活
聖闘士星矢海皇覚醒Special
花火絶景
蒼穹のファフナーEXODUS
課長熊田工作
豪炎高校應援團檄
超ギラギラ爺サマー
這いよれニャル子さん
鉄拳4アルティメットデビルVer
鉄拳4デビルVer
鉄拳5
閃乱カグラBURSTUP
零
革命機ヴァルヴレイヴ
鬼浜爆走紅蓮隊激闘謳歌編
鬼浜爆走紅蓮隊狂闘旅情編
魔法少女育成計画
麻雀格闘倶楽部参
麻雀格闘倶楽部真
麻雀物語4
黄門ちゃまV女神盛MEGAMORI
黄門ちゃま喝2

In [42]:
worksheet = workbook.worksheet('店舗名変換用テーブル完成版')
tenpo_name_convert_df = read_spreadsheet(workbook,worksheet)
tenpo_name_convert_df = tenpo_name_convert_df.replace({'スロパチID': {'': 99999}})
tenpo_name_convert_df = tenpo_name_convert_df.fillna({'スロパチID': 99999})
tenpo_name_convert_df['スロパチID'] = tenpo_name_convert_df['スロパチID'].astype(int)
tenpo_name_convert_df

,kintone_code,経度,緯度,DMM店舗名,都道府県,市区町村,住所,アナスロ店舗名,ホールナビ店舗名,URL,スロパチID,店舗名／法人名
1,P04961,139.378484,35.4501632,キコーナ海老名店,神奈川県,海老名市,神奈川県海老名市河原口4-5-6,キコーナ海老名店,キコーナ海老名店,https://p-town.dmm.com/shops/kanagawa/4961,506,キコーナ海老名店
2,P00651,139.80573,35.749407,ピーアーク北千住SSS,東京都,足立区,東京都足立区千住旭町3-5駅前会館ビル1Ｆ,ピーアーク北千住SSS,ピーアーク北千住SSS,https://p-town.dmm.com/shops/tokyo/651,513,ピーアーク北千住SSS
3,P01195,140.783334,41.7806327,KEIO湯川店,北海道,函館市,北海道函館市湯川町1-26-12,KEIO湯川店,KEIO湯川店,https://p-town.dmm.com/shops/hokkaido/1195,708,
4,P09568,133.904531,34.6159756,123藤田店,岡山県,岡山市南区,岡山県岡山市南区藤田673-22,123藤田店,123藤田店,https://p-town.dmm.com/shops/okayama/9568,771,123藤田店
5,P09572,133.937835,34.6277287,123浜野店,岡山県,岡山市南区,岡山県岡山市南区浜野2-10-48,123浜野店,123浜野店,https://p-town.dmm.com/shops/okayama/9572,772,
...,...,...,...,...,...,...,...,...,...,...,...,...
2406,,,,,,,,メガフェイス960飯塚,,,99999,MEGAFACE960飯塚
2407,,,,,,,,HYPER ARROW美原店,,,99999,HYPER ARROW 美原店
2408,,,,,,,,パールショップともえセンター南店,,,99999,パールショップともえセンター南店
2409,,,,,,,,123+N布施店,,,99999,123+N布施店
2410,,,,,,,,データなし,,,99999,MEGAFACE1070菊陽

In [ ]:
sammy_sf_list = list(sammy_sf_report_df[sammy_sf_report_df['イベント日'] == '2023/03/31']['店舗名／法人名'].unique())
for x in sorted(sammy_sf_list):
    print(x)

In [7]:
sammy_sf_report_df = pd.read_csv(r'csv\sammy_sf_0331.csv')
#sammy_sf_report_df['shop_id'] = sammy_sf_report_df['shop_id'].astype(int)
sammy_sf_report_df = sammy_sf_report_df.rename(columns={'店舗ID':'スロパチID'})
sammy_sf_report_df = sammy_sf_report_df.fillna({'スロパチID': 99999})
sammy_sf_report_df['スロパチID'] = sammy_sf_report_df['スロパチID'].astype(int)
sammy_sf_report_df

# last_merged_df = pd.merge(sammy_sf_report_df,tenpo_name_convert_df,on='店舗名／法人名',how='left')
# anaslo_serched_tenpo_name_list = list(last_merged_df['アナスロ店舗名'].unique())
# anaslo_serched_tenpo_name_list.pop(6)
# anaslo_serched_tenpo_name_list = sorted(anaslo_serched_tenpo_name_list)
# #anaslo_serched_tenpo_name_list
# last_merged_df

      店舗名／法人名  都道府県       イベント日   提案区分  shop_id  スロパチID
0   123+N羽曳野店   大阪府  2023/03/31  サミーの日   7998.0    8940
1   123+N大阪本店   大阪府  2023/03/31  サミーの日  12564.0    8153
2    123+Ｎ松原店   大阪府  2023/03/31  サミーの日   7948.0    8826
3    123横浜西口店  神奈川県  2023/03/31  サミーの日  12985.0     970
4      123鶴橋店   大阪府  2023/03/31  サミーの日   7344.0    8395
..        ...   ...         ...    ...      ...     ...
63  新！ガーデン北与野   埼玉県  2023/03/31  サミーの日   3312.0    3588
64      仙川UNO   東京都  2023/03/31  サミーの日    885.0    5416
65      中山UNO  神奈川県  2023/03/31  サミーの日   4564.0    4157
66    中山ZoRoN  神奈川県  2023/03/31  サミーの日  12719.0   20615
67     本八幡UNO   千葉県  2023/03/31  サミーの日   3971.0    3324

[68 rows x 6 columns]

In [ ]:
for tenpo_name in ['123門真店','123+N大阪本店','レッドロック学芸大学駅前店']:
    display(serched_df[serched_df['店舗名'] ==tenpo_name])
    serched_df[serched_df['店舗名'] ==tenpo_name].to_csv(fr'csv\{tenpo_name}_sammy_kisyu.csv',index=False)

In [50]:

#date_list:list[str] = ['03-30','03-31']
error_kisyu_name_list:list[str] = []
error_tenpo_name_list:list[str] = []
sammy_groupby_serched_df_list = []
for date_str in target_day_list:
    month_str = date_str.split('-')[0]
    #print(month_str)
    #anaslo_serched_tenpo_name_list:list[str] = list(set(kisyu_name_convert_df[f'{month_str}月_店舗名']))
    anaslo_serched_tenpo_name_list = concat_data_df['店舗名'].unique()
    print(len(anaslo_serched_tenpo_name_list))
    sorted(anaslo_serched_tenpo_name_list)
    #anaslo_serched_tenpo_name_list.remove('')
    #print(anaslo_serched_tenpo_name_list)
    csv_file_name  = f'csv\\{date_str}_scraping_anaslo.csv'
    target_date = csv_file_name.split('_')[0].split('\\')[-1]
    data_df =  pd.read_csv(csv_file_name)
    serched_df = pd.DataFrame(index=[], columns=list(data_df.columns))
    display(data_df)
    for serch_tenpo_name in list(data_df['店舗名'].unique()):
        #try:
        #print(serch_tenpo_name)
        extract_tenpo_data_df = data_df[data_df['店舗名'] == serch_tenpo_name]
        print(serch_tenpo_name,len(extract_tenpo_data_df))
        for kisyu_name in serch_kisyu_name_list :
            #print(kisyu_name)
            try:
                serch_kisyu_name_record = extract_tenpo_data_df[extract_tenpo_data_df['機種名'] == kisyu_name]
                if len(serch_kisyu_name_record) == 0:
                    error_kisyu_name_list.append(kisyu_name)# + f'_{date_str}'
                serched_df= pd.concat([serched_df, serch_kisyu_name_record], axis=0)
                #print('成功',kisyu_name)
            except:
                print('失敗',kisyu_name)
                error_kisyu_name_list.append(kisyu_name)
                continue
            #break
        # except:
        #     error_tenpo_name_list.append(serch_tenpo_name)
        #     continue
        #display(extract_tenpo_data_df)
        #break
        #break
    #serch_kisyu_name_list.remove('')
    serched_df['G数'] = serched_df['G数'].astype(int)
    groupby_serched_df = serched_df.groupby('店舗名').mean()#.sort_values('G数',ascending=False)#.reset_index()
    groupby_serched_df['サミー総台数'] = serched_df.groupby(['店舗名']).size()
    new_column_gamesuu_column:str = target_date + '_' + 'サミー全台平均G数'
    groupby_serched_df = groupby_serched_df.rename(columns={'G数':new_column_gamesuu_column})
    groupby_serched_df = groupby_serched_df[[ new_column_gamesuu_column,'サミー総台数']]#groupby_serched_df_list
    sammy_groupby_serched_df_list.append(groupby_serched_df)

100

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,339,123+N和歌山本店,モンキーターンIV,705,102,-185.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-03
1,340,123+N和歌山本店,モンキーターンIV,706,965,-641.0,0,1,2.0,1/321.7,1/0.0,1/965.0,1/482.5,2023-06-03
2,341,123+N和歌山本店,モンキーターンIV,707,287,-126.0,0,1,2.0,1/95.7,1/0.0,1/287.0,1/143.5,2023-06-03
3,342,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,708,1712,580.0,0,6,21.0,1/63.4,1/0.0,1/285.3,1/81.5,2023-06-03
4,343,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,709,1310,-1534.0,0,4,2.0,1/218.3,1/0.0,1/327.5,1/655.0,2023-06-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34938,131,BEAM by HIKARI,沖ドキGOLD,1172,1647,2980.0,25,5,NaN,1/54.9,1/65.9,1/329.4,NaN,2023-06-03
34939,132,BEAM by HIKARI,沖ドキGOLD,1173,3668,1670.0,26,19,NaN,1/81.5,1/141.1,1/193.1,NaN,2023-06-03
34940,133,BEAM by HIKARI,沖ドキGOLD,1175,1686,-646.0,7,5,NaN,1/140.5,1/240.9,1/337.2,NaN,2023-06-03
34941,134,BEAM by HIKARI,沖ドキGOLD,1176,2824,2941.0,28,19,NaN,1/60.1,1/100.9,1/148.6,NaN,2023-06-03
34942,135,BEAM by HIKARI,沖ドキGOLD,1177,3464,-498.0,17,13,NaN,1/115.5,1/203.8,1/266.5,NaN,2023-06-03

123+N和歌山本店 396
123+N大阪本店 480
123+N布施店 661
123+N羽曳野店 443
123+N松原店 470
123岩岡店 380
123横浜西口店 332
123長吉店 240
123門真店 446
123難波店 376
123鶴橋店 391
BEAM HARA 311
GRAND G-ONE甲賀水口店 434
HYPER ARROW美原店 391
KING BOSS 1000 360
メガコンコルド1020刈谷知立店 425
メガコンコルド1111BLAZE店 481
MGM小山本郷店 360
PIA京急川崎 298
PIA八王子 478
PIA川崎ダイス 334
PIA柏 スロット館 343
PIA横浜モアーズ 400
PIA町田新館 386
スーパーDステーション入間店 289
スーパーDステーション鴻巣店 361
WIN-WIN ONE 273
アスカ狭山店 240
アビバ湘南台店 501
アビバ関内 318
ジュラク王子店 377
アムズガーデン石巻湊店 160
ウエスタン環七南葛西店 206
エクスアリーナ柏 400
エクスアリーナ東京 480
キコーナ吹田店 320
キコーナ守口店 363
キコーナ小田原扇町店 240
キコーナ海老名店 433
グランキコーナ堺店 697
グランキコーナ相模原店 491
グランドオータ瀬谷店 406
スロットサントロペ横須賀中央 290
サンパレス環七大杉店 289
ジャムフレンドクラブ朝霞店 238
スロット123梶取店 235
スーパーライブガーデン行田店 374
テンガイ・与次郎店 400
ニューヨークニューヨーク泉店 152
ニューヨークニューヨーク臨海店 220
パラッツォ三郷中央店 520
パラッツォ鳩ヶ谷店 754
パールショップともえセンター南店 639
パールショップともえ市原店 328
パールショップともえ松戸店 428
ビッグアップル.加古川 424
ビッグアップル．秋葉原店 462
ピーアーク三田 175
ピーアーク千葉駅前 345
ピーアーク相模原 363
ピーアーク相模大野 456
ピーアーク竹ノ塚スタジオ 268
ピーアーク草加 257
プレイランド第一平和 214
マルハンなんば新館 436
マルハンなんば本館 394
マルハンメガシティ羽曳野 254
マルハン上牧店 199
マルハン加島店 536
マルハン堺遠里小野店 427
マルハン大安寺店 200
マルハン布施店 276
マルハン新世界店 443
マルハン梅田店 354
マルハン橿原北店 288
マルハン草薙アピア店 385
マルハン貝塚店 288
マルハン青梅新町店 530
ミリオン習志野店 160
メガコンコルド800春日井店+ 364
ライブガーデン佐野スロット店 220
レッドロック学芸大学駅前店 143
三ノ輪UNO 250
上尾UNO 333
中山UNO 204
中山ZoRoN 264
仙川UNO 187
出玉王田無店 300
北越谷UNO 208
南柏UNO 215
新橋UNO 207
第一プラザ西浦和店 152
本八幡UNO 331
楽園上新屋店 539
楽園川崎店 431
楽園沼津店 351
楽園袋井店 336
秋葉原UNO 193
鶴見UNO 281
BEAM by HIKARI 262
100

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,339,123+N和歌山本店,モンキーターンIV,705,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-02
1,340,123+N和歌山本店,モンキーターンIV,706,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-02
2,341,123+N和歌山本店,モンキーターンIV,707,844,91.0,0,1,6.0,1/120.6,1/0.0,1/844.0,1/140.7,2023-06-02
3,342,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,708,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-02
4,343,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,709,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34958,131,BEAM by HIKARI,沖ドキGOLD,1172,727,1458.0,10,4,NaN,1/51.9,1/72.7,1/181.8,NaN,2023-06-02
34959,132,BEAM by HIKARI,沖ドキGOLD,1173,1877,4039.0,32,5,NaN,1/50.7,1/58.7,1/375.4,NaN,2023-06-02
34960,133,BEAM by HIKARI,沖ドキGOLD,1175,408,-546.0,0,1,NaN,1/408.0,1/0.0,1/408.0,NaN,2023-06-02
34961,134,BEAM by HIKARI,沖ドキGOLD,1176,1697,1169.0,17,3,NaN,1/84.8,1/99.8,1/565.7,NaN,2023-06-02
34962,135,BEAM by HIKARI,沖ドキGOLD,1177,1974,424.0,16,2,NaN,1/109.7,1/123.4,1/987.0,NaN,2023-06-02

123+N和歌山本店 396
123+N大阪本店 480
123+N布施店 661
123+N羽曳野店 443
123+N松原店 470
123岩岡店 380
123横浜西口店 332
123長吉店 240
123門真店 446
123難波店 376
123鶴橋店 391
BEAM HARA 311
GRAND G-ONE甲賀水口店 434
HYPER ARROW美原店 391
KING BOSS 1000 360
メガコンコルド1020刈谷知立店 425
メガコンコルド1111BLAZE店 481
MGM小山本郷店 360
PIA京急川崎 298
PIA八王子 478
PIA川崎ダイス 334
PIA柏 スロット館 343
PIA横浜モアーズ 400
PIA町田新館 386
スーパーDステーション入間店 289
スーパーDステーション鴻巣店 361
WIN-WIN ONE 273
アスカ狭山店 240
アビバ湘南台店 501
アビバ関内 318
ジュラク王子店 381
アムズガーデン石巻湊店 160
ウエスタン環七南葛西店 206
エクスアリーナ柏 400
エクスアリーナ東京 480
キコーナ吹田店 320
キコーナ守口店 363
キコーナ小田原扇町店 240
キコーナ海老名店 433
グランキコーナ堺店 697
グランキコーナ相模原店 491
グランドオータ瀬谷店 406
スロットサントロペ横須賀中央 290
サンパレス環七大杉店 289
ジャムフレンドクラブ朝霞店 238
スロット123梶取店 235
スーパーライブガーデン行田店 374
テンガイ・与次郎店 400
ニューヨークニューヨーク泉店 152
ニューヨークニューヨーク臨海店 220
パラッツォ三郷中央店 520
パラッツォ鳩ヶ谷店 754
パールショップともえセンター南店 655
パールショップともえ市原店 328
パールショップともえ松戸店 428
ビッグアップル.加古川 424
ビッグアップル．秋葉原店 462
ピーアーク三田 175
ピーアーク千葉駅前 345
ピーアーク相模原 363
ピーアーク相模大野 456
ピーアーク竹ノ塚スタジオ 268
ピーアーク草加 257
プレイランド第一平和 214
マルハンなんば新館 436
マルハンなんば本館 394
マルハンメガシティ羽曳野 254
マルハン上牧店 199
マルハン加島店 536
マルハン堺遠里小野店 427
マルハン大安寺店 200
マルハン布施店 276
マルハン新世界店 443
マルハン梅田店 354
マルハン橿原北店 288
マルハン草薙アピア店 385
マルハン貝塚店 288
マルハン青梅新町店 530
ミリオン習志野店 160
メガコンコルド800春日井店+ 364
ライブガーデン佐野スロット店 220
レッドロック学芸大学駅前店 143
三ノ輪UNO 250
上尾UNO 333
中山UNO 204
中山ZoRoN 264
仙川UNO 187
出玉王田無店 300
北越谷UNO 208
南柏UNO 215
新橋UNO 207
第一プラザ西浦和店 152
本八幡UNO 331
楽園上新屋店 539
楽園川崎店 431
楽園沼津店 351
楽園袋井店 336
秋葉原UNO 193
鶴見UNO 281
BEAM by HIKARI 262

In [53]:

error_kisyu_name_list:list[str] = []
error_tenpo_name_list:list[str] = []
tenpo_groupby_serched_df_list = []
for date_str in target_day_list:
    month_str = date_str.split('-')[0]
    print(month_str)
    #anaslo_serched_tenpo_name_list:list[str] = list(set(kisyu_name_convert_df[f'{month_str}月_店舗名']))
    print(len(anaslo_serched_tenpo_name_list))
    sorted(anaslo_serched_tenpo_name_list)
    #anaslo_serched_tenpo_name_list.remove('')
    print(anaslo_serched_tenpo_name_list)
    csv_file_name  = f'csv\\{date_str}_scraping_anaslo.csv'
    target_date = csv_file_name.split('_')[0].split('\\')[-1]
    data_df =  pd.read_csv(csv_file_name)
    serched_df = pd.DataFrame(index=[], columns=list(data_df.columns))
    for serch_tenpo_name in list(data_df['店舗名'].unique()):
        try:
            #print(serch_tenpo_name)
            # try:
            #     shop_id:int = int(slopachi_tenpo_name_and_shopid_df[slopachi_tenpo_name_and_shopid_df['店舗名／法人名'] == serch_tenpo_name].iloc[0,1])
            # except:
            #     print(serch_tenpo_name)
            #     continue
            try:
                #anaslo_tenpo_name = tenpo_name_convert_df[tenpo_name_convert_df['shop_id'] == shop_id].iloc[0,6]
                extract_tenpo_data_df = data_df[data_df['店舗名'] == serch_tenpo_name]
            except Exception as e :
                print(e)
                try:
                    extract_tenpo_data_df = data_df[data_df['店舗名'] == serch_tenpo_name]
                except Exception as e:
                    print('エラー',serch_tenpo_name,e)
                    error_tenpo_name_list.append(serch_tenpo_name)
                    continue
            serched_df= pd.concat([serched_df, extract_tenpo_data_df], axis=0)
        except Exception as e :
            error_tenpo_name_list.append(serch_tenpo_name)
            print(e)
            continue
        #display(extract_tenpo_data_df)
        #break
        #break
    #serch_kisyu_name_list.remove('')
    serched_df['G数'] = serched_df['G数'].astype(int)
    groupby_serched_df = serched_df.groupby('店舗名').mean()#.sort_values('G数',ascending=False)#.reset_index()
    groupby_serched_df['総台数'] = serched_df.groupby(['店舗名']).size()
    new_column_gamesuu_column:str = target_date + '_' + '全台平均G数'
    groupby_serched_df = groupby_serched_df.rename(columns={'G数':new_column_gamesuu_column})
    groupby_serched_df = groupby_serched_df[[ new_column_gamesuu_column,'総台数']]#groupby_serched_df_list
    tenpo_groupby_serched_df_list.append(groupby_serched_df)

2023
100
['123+N和歌山本店' '123+N大阪本店' '123+N布施店' '123+N羽曳野店' '123+N松原店' '123岩岡店'
 '123横浜西口店' '123長吉店' '123門真店' '123難波店' '123鶴橋店' 'BEAM HARA'
 'GRAND G-ONE甲賀水口店' 'HYPER ARROW美原店' 'KING BOSS 1000' 'メガコンコルド1020刈谷知立店'
 'メガコンコルド1111BLAZE店' 'MGM小山本郷店' 'PIA京急川崎' 'PIA八王子' 'PIA川崎ダイス' 'PIA柏 スロット館'
 'PIA横浜モアーズ' 'PIA町田新館' 'スーパーDステーション入間店' 'スーパーDステーション鴻巣店' 'WIN-WIN ONE'
 'アスカ狭山店' 'アビバ湘南台店' 'アビバ関内' 'ジュラク王子店' 'アムズガーデン石巻湊店' 'ウエスタン環七南葛西店'
 'エクスアリーナ柏' 'エクスアリーナ東京' 'キコーナ吹田店' 'キコーナ守口店' 'キコーナ小田原扇町店' 'キコーナ海老名店'
 'グランキコーナ堺店' 'グランキコーナ相模原店' 'グランドオータ瀬谷店' 'スロットサントロペ横須賀中央' 'サンパレス環七大杉店'
 'ジャムフレンドクラブ朝霞店' 'スロット123梶取店' 'スーパーライブガーデン行田店' 'テンガイ・与次郎店'
 'ニューヨークニューヨーク泉店' 'ニューヨークニューヨーク臨海店' 'パラッツォ三郷中央店' 'パラッツォ鳩ヶ谷店'
 'パールショップともえセンター南店' 'パールショップともえ市原店' 'パールショップともえ松戸店' 'ビッグアップル.加古川'
 'ビッグアップル．秋葉原店' 'ピーアーク三田' 'ピーアーク千葉駅前' 'ピーアーク相模原' 'ピーアーク相模大野'
 'ピーアーク竹ノ塚スタジオ' 'ピーアーク草加' 'プレイランド第一平和' 'マルハンなんば新館' 'マルハンなんば本館'
 'マルハンメガシティ羽曳野' 'マルハン上牧店' 'マルハン加島店' 'マルハン堺遠里小野店' 'マルハン大安寺店' 'マルハン布施店'
 'マルハン新世界店' 'マルハン梅田店' 'マルハン橿原北店' 'マルハン草薙アピア店' 'マルハン貝塚店' 'マルハン青梅新町店'
 'ミリオン習志野店' 'メガコンコルド800春日井店+' 'ライブガーデン佐野スロット店' 'レッドロック学芸大学駅前店' '三ノ輪UNO'
 '上尾UNO' '中山UNO' '中山ZoRoN' '仙川UNO' '出玉王田無店' '北越谷UNO' '南柏UNO' '新橋UNO'
 '第一プラザ西浦和店' '本八幡UNO' '楽園上新屋店' '楽園川崎店' '楽園沼津店' '楽園袋井店' '秋葉原UNO' '鶴見UNO'
 'BEAM by HIKARI']
2023
100
['123+N和歌山本店' '123+N大阪本店' '123+N布施店' '123+N羽曳野店' '123+N松原店' '123岩岡店'
 '123横浜西口店' '123長吉店' '123門真店' '123難波店' '123鶴橋店' 'BEAM HARA'
 'GRAND G-ONE甲賀水口店' 'HYPER ARROW美原店' 'KING BOSS 1000' 'メガコンコルド1020刈谷知立店'
 'メガコンコルド1111BLAZE店' 'MGM小山本郷店' 'PIA京急川崎' 'PIA八王子' 'PIA川崎ダイス' 'PIA柏 スロット館'
 'PIA横浜モアーズ' 'PIA町田新館' 'スーパーDステーション入間店' 'スーパーDステーション鴻巣店' 'WIN-WIN ONE'
 'アスカ狭山店' 'アビバ湘南台店' 'アビバ関内' 'ジュラク王子店' 'アムズガーデン石巻湊店' 'ウエスタン環七南葛西店'
 'エクスアリーナ柏' 'エクスアリーナ東京' 'キコーナ吹田店' 'キコーナ守口店' 'キコーナ小田原扇町店' 'キコーナ海老名店'
 'グランキコーナ堺店' 'グランキコーナ相模原店' 'グランドオータ瀬谷店' 'スロットサントロペ横須賀中央' 'サンパレス環七大杉店'
 'ジャムフレンドクラブ朝霞店' 'スロット123梶取店' 'スーパーライブガーデン行田店' 'テンガイ・与次郎店'
 'ニューヨークニューヨーク泉店' 'ニューヨークニューヨーク臨海店' 'パラッツォ三郷中央店' 'パラッツォ鳩ヶ谷店'
 'パールショップともえセンター南店' 'パールショップともえ市原店' 'パールショップともえ松戸店' 'ビッグアップル.加古川'
 'ビッグアップル．秋葉原店' 'ピーアーク三田' 'ピーアーク千葉駅前' 'ピーアーク相模原' 'ピーアーク相模大野'
 'ピーアーク竹ノ塚スタジオ' 'ピーアーク草加' 'プレイランド第一平和' 'マルハンなんば新館' 'マルハンなんば本館'
 'マルハンメガシティ羽曳野' 'マルハン上牧店' 'マルハン加島店' 'マルハン堺遠里小野店' 'マルハン大安寺店' 'マルハン布施店'
 'マルハン新世界店' 'マルハン梅田店' 'マルハン橿原北店' 'マルハン草薙アピア店' 'マルハン貝塚店' 'マルハン青梅新町店'
 'ミリオン習志野店' 'メガコンコルド800春日井店+' 'ライブガーデン佐野スロット店' 'レッドロック学芸大学駅前店' '三ノ輪UNO'
 '上尾UNO' '中山UNO' '中山ZoRoN' '仙川UNO' '出玉王田無店' '北越谷UNO' '南柏UNO' '新橋UNO'
 '第一プラザ西浦和店' '本八幡UNO' '楽園上新屋店' '楽園川崎店' '楽園沼津店' '楽園袋井店' '秋葉原UNO' '鶴見UNO'
 'BEAM by HIKARI']

In [54]:
pd.concat(tenpo_groupby_serched_df_list + sammy_groupby_serched_df_list,axis=1)

,2023-06-03_全台平均G数,総台数,2023-06-02_全台平均G数,総台数,2023-06-03_サミー全台平均G数,サミー総台数,2023-06-02_サミー全台平均G数,サミー総台数
店舗名,,,,,,,,
123+N和歌山本店,3600.585859,396,1885.540404,396,5243.347826,92,2480.891304,92
123+N大阪本店,5893.114583,480,4479.102083,480,6570.752381,105,5773.838095,105
123+N布施店,4976.561271,661,3204.630862,661,6316.714286,112,4056.687500,112
123+N松原店,4075.855319,470,2865.078723,470,5749.531646,79,4971.734177,79
123+N羽曳野店,4676.282167,443,3571.216704,443,5960.825581,86,4758.430233,86
...,...,...,...,...,...,...,...,...
楽園沼津店,4208.062678,351,1323.051282,351,5679.826667,75,2324.520000,75
楽園袋井店,2991.806548,336,1464.297619,336,4343.266667,60,2151.100000,60
秋葉原UNO,2933.305699,193,1613.709845,193,4887.250000,40,1804.825000,40
第一プラザ西浦和店,3631.105263,152,2690.546053,152,4519.533333,30,3259.200000,30
鶴見UNO,3502.839858,281,1887.398577,281,5537.865385,52,2260.865385,52

In [55]:
pd.concat(tenpo_groupby_serched_df_list + sammy_groupby_serched_df_list,axis=1).to_csv(r'csv\0603_0605出力1.csv')
#pd.concat(temo_df_list).to_csv('三か月分実施.csv')

In [ ]:
slopachi_tenpo_name_and_shopid_df =  pd.read_csv(r'csv\slopachi_tenpo_name_and_shopid.csv')
slopachi_tenpo_name_and_shopid_df =slopachi_tenpo_name_and_shopid_df[(~slopachi_tenpo_name_and_shopid_df['店舗ID'].isnull()) & (~slopachi_tenpo_name_and_shopid_df['都道府県'].isnull())]
slopachi_tenpo_name_and_shopid_df = slopachi_tenpo_name_and_shopid_df[['記事用店舗名','店舗ID','店舗名／法人名','都道府県']]
slopachi_tenpo_name_and_shopid_df['店舗ID'] = slopachi_tenpo_name_and_shopid_df['店舗ID'].astype(int)
slopachi_tenpo_name_and_shopid_df.drop_duplicates(subset='店舗名／法人名', keep='last', inplace=True)
slopachi_tenpo_name_and_shopid_df

In [50]:
serched_df['日付'] = f"2023-{date}"
serched_df.to_csv(rf'csv\2023-{date}_scraping_anaslo.csv',index=False)

In [66]:
data_df.to_csv(r'csv\2023-03-02_anaslo copy.csv',index=False)

In [ ]:
csv_file_name  = f'csv\\2023-03-03_anaslo copy.csv'
target_date = csv_file_name.split('_')[0].split('\\')[-1]
data_df =  pd.read_csv(csv_file_name)
data_df

====== WebDriver manager ======
Current google-chrome version is 112.0.5615
Get LATEST chromedriver version for 112.0.5615 google-chrome
Driver [C:\Users\slotd\.wdm\drivers\chromedriver\win32\112.0.5615.49\chromedriver.exe] found in cache
C:\Users\slotd\AppData\Local\Temp/ipykernel_50400/1895281330.py:51: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(ChromeDriverManager().install())

NameError: name 'prefecture_name_list' is not defined

In [6]:
sf_past_all_record_df = pd.read_csv(r'csv\sf_past_all_record.csv')
sf_past_all_record_df = sf_past_all_record_df[~sf_past_all_record_df['店舗ID'].isnull()]
sf_past_all_record_df = sf_past_all_record_df[~sf_past_all_record_df.duplicated(subset=['店舗名／法人名'])]
sf_past_all_record_df = sf_past_all_record_df[['店舗名／法人名','店舗ID']]
sf_past_all_record_df['店舗ID'] = sf_past_all_record_df['店舗ID'].astype(int)
sf_past_all_record_df.reset_index(drop=True,inplace=True)
sf_past_all_record_df = sf_past_all_record_df.rename(columns={'店舗ID':'スロパチID'})
sf_past_all_record_df

              店舗名／法人名  スロパチID
0              オゼック羽村    5488
1           ガーデン松戸金ヶ作    3281
2             パーラートモエ    4851
3     スロットスタジアムフォーション    4898
4       TAKARAJIMA荻島店    3723
...               ...     ...
1517             LOVE    7456
1518       スロット123梶取店    7370
1519          アミューズ岩出     851
1520           メトロヒルズ    7371
1521        SLOT AQUA    7375

[1522 rows x 2 columns]

In [12]:
parlar_name_parlar_url_dict_df = pd.read_csv(r'csv\tenpo_name_tenpo_url_dict.csv', header=None, names=['店舗名', 'url'])
parlar_name_parlar_url_dict_df
parlar_name_parlar_url_dict = d
ict(zip(parlar_name_parlar_url_dict_df['店舗名'],parlar_name_parlar_url_dict_df['url'] ))
#parlar_name_parlar_url_dict

In [25]:
import csv
dct = slopachi_and_anaslo_tenpo_name_dict
with open(r'csv\slopachi_and_anaslo_tenpo_name_dict.csv', 'w') as f:  
    writer = csv.writer(f)
    for k, v in dct.items():
       writer.writerow([k, v])

In [8]:
for i,tenpo_name in enumerate(tenpo_name_list):
    anaslo_parlar_name_url = parlar_name_parlar_url_dict[tenpo_name]
    anaslo_url_parlarname =urllib.parse.unquote((anaslo_parlar_name_url.split('/')[-2])).replace('-データ一覧','')
    print(i,anaslo_url_parlarname)

NameError: name 'tenpo_name_list' is not defined

In [43]:
list(set(anaslo_scraping_error_tenpo_name_list))

['Dステーション新小岩店',
 'メガフェイス1180座間',
 'グランキコーナ泉佐野店',
 'Dステーション仙台東店',
 'オゼック国分寺北口',
 'スーパーDステーション立川店',
 'MEGA BEAM ASAKURA 999',
 'EVO2']

In [56]:
hand_computed_tenpo_name_list = '''レッドロック学芸大学駅前店
ニューヨークニューヨーク泉店
第一プラザ西浦和店'''.split('\n')

In [63]:
concat_data_df

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
0,339,123+N和歌山本店,モンキーターンIV,705,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-02
1,340,123+N和歌山本店,モンキーターンIV,706,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-02
2,341,123+N和歌山本店,モンキーターンIV,707,844,91.0,0,1,6.0,1/120.6,1/0.0,1/844.0,1/140.7,2023-06-02
3,342,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,708,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-02
4,343,123+N和歌山本店,戦姫絶唱シンフォギア勇気の歌,709,0,0.0,0,0,0.0,1/0.0,1/0.0,1/0.0,1/0.0,2023-06-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34938,131,BEAM by HIKARI,沖ドキGOLD,1172,1647,2980.0,25,5,NaN,1/54.9,1/65.9,1/329.4,NaN,2023-06-03
34939,132,BEAM by HIKARI,沖ドキGOLD,1173,3668,1670.0,26,19,NaN,1/81.5,1/141.1,1/193.1,NaN,2023-06-03
34940,133,BEAM by HIKARI,沖ドキGOLD,1175,1686,-646.0,7,5,NaN,1/140.5,1/240.9,1/337.2,NaN,2023-06-03
34941,134,BEAM by HIKARI,沖ドキGOLD,1176,2824,2941.0,28,19,NaN,1/60.1,1/100.9,1/148.6,NaN,2023-06-03
34942,135,BEAM by HIKARI,沖ドキGOLD,1177,3464,-498.0,17,13,NaN,1/115.5,1/203.8,1/266.5,NaN,2023-06-03

In [64]:
for tenpo_name in hand_computed_tenpo_name_list:
    display(concat_data_df[concat_data_df['店舗名'] ==tenpo_name])
    concat_data_df[concat_data_df['店舗名'] ==tenpo_name].to_csv(fr'csv\{tenpo_name}_2023-06-03.csv',index=False)

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
29776,135,レッドロック学芸大学駅前店,犬夜叉,1,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-06-02
29777,136,レッドロック学芸大学駅前店,バーサスリヴァイズ,2,7291,-558.0,21,23,NaN,1/165.7,1/347.2,1/317.0,NaN,2023-06-02
29778,137,レッドロック学芸大学駅前店,新ハナビ,3,4306,-1020.0,14,5,NaN,1/226.6,1/307.6,1/861.2,NaN,2023-06-02
29779,126,レッドロック学芸大学駅前店,この素晴らしい世界に祝福を,5,230,-54.0,3,1,NaN,1/57.5,1/76.7,1/230.0,NaN,2023-06-02
29780,127,レッドロック学芸大学駅前店,この素晴らしい世界に祝福を,6,1646,-1020.0,20,4,NaN,1/68.6,1/82.3,1/411.5,NaN,2023-06-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29894,64,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,213,2812,-1837.0,14,1,NaN,1/187.5,1/200.9,1/2812.0,NaN,2023-06-03
29895,65,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,215,3215,231.0,18,9,NaN,1/119.1,1/178.6,1/357.2,NaN,2023-06-03
29896,66,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,216,1607,939.0,6,2,NaN,1/200.9,1/267.8,1/803.5,NaN,2023-06-03
29897,67,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,217,1116,1075.0,6,4,NaN,1/111.6,1/186.0,1/279.0,NaN,2023-06-03
29898,68,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,218,1223,-639.0,5,2,NaN,1/174.7,1/244.6,1/611.5,NaN,2023-06-03

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
18001,107,ニューヨークニューヨーク泉店,沖ドキGOLD30,501,1812,-1000.0,7,5,NaN,1/151.0,1/258.9,1/362.4,NaN,2023-06-02
18002,108,ニューヨークニューヨーク泉店,沖ドキGOLD30,502,2795,-1507.0,11,5,NaN,1/174.7,1/254.1,1/559.0,NaN,2023-06-02
18003,109,ニューヨークニューヨーク泉店,沖ドキGOLD30,503,2330,62.0,14,5,NaN,1/122.6,1/166.4,1/466.0,NaN,2023-06-02
18004,110,ニューヨークニューヨーク泉店,沖ドキGOLD30,504,1867,-1453.0,6,1,NaN,1/266.7,1/311.2,1/1867.0,NaN,2023-06-02
18005,87,ニューヨークニューヨーク泉店,チバリヨ30,505,871,-973.0,1,1,NaN,1/435.5,1/871.0,1/871.0,NaN,2023-06-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18144,116,ニューヨークニューヨーク泉店,ニューパルサーDX3,648,1096,-1160.0,0,2,NaN,1/548.0,1/0.0,1/548.0,NaN,2023-06-03
18145,97,ニューヨークニューヨーク泉店,新ハナビ,649,4713,-120.0,16,13,NaN,1/162.5,1/294.6,1/362.5,NaN,2023-06-03
18146,119,ニューヨークニューヨーク泉店,バーサスリヴァイズ,650,7952,1938.0,32,24,NaN,1/142.0,1/248.5,1/331.3,NaN,2023-06-03
18147,151,ニューヨークニューヨーク泉店,うまい棒,651,1712,387.0,9,0,NaN,1/190.2,1/190.2,1/0.0,NaN,2023-06-03
18148,98,ニューヨークニューヨーク泉店,新ハナビ,652,5087,-280.0,15,18,NaN,1/154.2,1/339.1,1/282.6,NaN,2023-06-03

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
32087,109,第一プラザ西浦和店,ハッピージャグラーVIII,449,3341,-829.0,11,6,0.0,1/196.5,1/303.7,1/556.8,1/0.0,2023-06-02
32088,110,第一プラザ西浦和店,ハッピージャグラーVIII,450,2335,-19.0,9,6,0.0,1/155.7,1/259.4,1/389.2,1/0.0,2023-06-02
32089,111,第一プラザ西浦和店,ハッピージャグラーVIII,451,4970,280.0,20,18,0.0,1/130.8,1/248.5,1/276.1,1/0.0,2023-06-02
32090,69,第一プラザ西浦和店,ファンキージャグラー2,452,2300,-570.0,7,6,0.0,1/176.9,1/328.6,1/383.3,1/0.0,2023-06-02
32091,70,第一プラザ西浦和店,ファンキージャグラー2,453,2734,-528.0,9,8,0.0,1/160.8,1/303.8,1/341.8,1/0.0,2023-06-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32214,64,第一プラザ西浦和店,ソードアートオンライン,596,2946,-2501.0,10,13,0.0,1/128.1,1/294.6,1/226.6,1/0.0,2023-06-03
32215,65,第一プラザ西浦和店,ソードアートオンライン,597,4316,5101.0,78,23,0.0,1/42.7,1/55.3,1/187.7,1/0.0,2023-06-03
32216,66,第一プラザ西浦和店,ソードアートオンライン,598,4059,3933.0,68,25,0.0,1/43.6,1/59.7,1/162.4,1/0.0,2023-06-03
32217,67,第一プラザ西浦和店,ソードアートオンライン,599,3310,-776.0,29,17,0.0,1/72.0,1/114.1,1/194.7,1/0.0,2023-06-03
32218,68,第一プラザ西浦和店,ソードアートオンライン,600,4880,-341.0,48,28,0.0,1/64.2,1/101.7,1/174.3,1/0.0,2023-06-03

In [51]:
hand_comupted_sammy_serched_df = pd.DataFrame(index=[], columns=list(data_df.columns))
for tenpo_name in hand_computed_tenpo_name_list:
    
    display(serched_df[serched_df['店舗名'] ==tenpo_name])
    extract_tenpo_data_df = concat_data_df[concat_data_df['店舗名'] ==tenpo_name]
    for kisyu_name in serch_kisyu_name_list :
        #print(kisyu_name)
        try:
            serch_kisyu_name_record = extract_tenpo_data_df[extract_tenpo_data_df['機種名'] == kisyu_name]
            if len(serch_kisyu_name_record) == 0:
                error_kisyu_name_list.append(kisyu_name)# + f'_{date_str}'
            hand_comupted_sammy_serched_df = pd.concat([hand_comupted_sammy_serched_df, serch_kisyu_name_record], axis=0)
            
            #print('成功',kisyu_name)
        except:
            pass
    hand_comupted_sammy_serched_df.to_csv(fr'csv\hand_computed_sammy_2023-05-03.csv',index=False)

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
22747,131,レッドロック学芸大学駅前店,犬夜叉,1,0,0.0,0,0,NaN,1/0.0,1/0.0,1/0.0,NaN,2023-05-03
22748,133,レッドロック学芸大学駅前店,バーサスリヴァイズ,2,4418,1448.0,21,12,NaN,1/133.9,1/210.4,1/368.2,NaN,2023-05-03
22749,134,レッドロック学芸大学駅前店,新ハナビ,3,2882,151.0,11,6,NaN,1/169.5,1/262.0,1/480.3,NaN,2023-05-03
22750,129,レッドロック学芸大学駅前店,ハードボイルド,5,3251,-207.0,10,5,NaN,1/216.7,1/325.1,1/650.2,NaN,2023-05-03
22751,130,レッドロック学芸大学駅前店,ハードボイルド,6,1507,-1256.0,2,0,NaN,1/753.5,1/753.5,1/0.0,NaN,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22885,64,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,213,3064,-207.0,12,7,NaN,1/161.3,1/255.3,1/437.7,NaN,2023-05-03
22886,65,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,215,1852,-207.0,13,5,NaN,1/102.9,1/142.5,1/370.4,NaN,2023-05-03
22887,66,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,216,2657,262.0,15,5,NaN,1/132.8,1/177.1,1/531.4,NaN,2023-05-03
22888,67,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,217,1850,-2130.0,5,0,NaN,1/370.0,1/370.0,1/0.0,NaN,2023-05-03
22889,68,レッドロック学芸大学駅前店,HEYエリートサラリーマン鏡,218,6128,2105.0,31,14,NaN,1/136.2,1/197.7,1/437.7,NaN,2023-05-03

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
16821,38,ZAP PRESTIGE,ハッピージャグラーVIII,385,1617,-706.0,3,5,NaN,1/202.1,1/539.0,1/323.4,NaN,2023-05-03
16822,39,ZAP PRESTIGE,ハッピージャグラーVIII,386,630,-355.0,1,1,NaN,1/315.0,1/630.0,1/630.0,NaN,2023-05-03
16823,40,ZAP PRESTIGE,ハッピージャグラーVIII,387,3484,-1352.0,6,12,NaN,1/193.6,1/580.7,1/290.3,NaN,2023-05-03
16824,41,ZAP PRESTIGE,ハッピージャグラーVIII,388,767,-324.0,2,1,NaN,1/255.7,1/383.5,1/767.0,NaN,2023-05-03
16825,42,ZAP PRESTIGE,ハッピージャグラーVIII,389,2438,-179.0,10,3,NaN,1/187.5,1/243.8,1/812.7,NaN,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16968,67,ZAP PRESTIGE,沖ドキGOLD,536,3882,-1464.0,19,7,NaN,1/149.3,1/204.3,1/554.6,NaN,2023-05-03
16969,68,ZAP PRESTIGE,沖ドキGOLD,537,4084,591.0,26,16,NaN,1/97.2,1/157.1,1/255.2,NaN,2023-05-03
16970,69,ZAP PRESTIGE,沖ドキGOLD,538,5607,-1924.0,27,15,NaN,1/133.5,1/207.7,1/373.8,NaN,2023-05-03
16971,70,ZAP PRESTIGE,沖ドキGOLD,539,4539,6205.0,55,19,NaN,1/61.3,1/82.5,1/238.9,NaN,2023-05-03
16972,71,ZAP PRESTIGE,沖ドキGOLD,540,4918,-1394.0,23,16,NaN,1/126.1,1/213.8,1/307.4,NaN,2023-05-03

,Unnamed: 0,店舗名,機種名,台番号,G数,差枚,BB,RB,ART,合成確率,BB確率,RB確率,ART確率,日付
25239,103,第一プラザ西浦和店,ハッピージャグラーVIII,449,2103,-1309.0,4,3,0.0,1/300.4,1/525.8,1/701.0,1/0.0,2023-05-03
25240,104,第一プラザ西浦和店,ハッピージャグラーVIII,450,8520,1652.0,38,28,0.0,1/129.1,1/224.2,1/304.3,1/0.0,2023-05-03
25241,105,第一プラザ西浦和店,ハッピージャグラーVIII,451,2900,-1993.0,5,4,0.0,1/322.2,1/580.0,1/725.0,1/0.0,2023-05-03
25242,63,第一プラザ西浦和店,ファンキージャグラー2,452,5349,209.0,24,10,0.0,1/157.3,1/222.9,1/534.9,1/0.0,2023-05-03
25243,64,第一プラザ西浦和店,ファンキージャグラー2,453,3769,-1952.0,8,8,0.0,1/235.6,1/471.1,1/471.1,1/0.0,2023-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25386,26,第一プラザ西浦和店,HEYエリートサラリーマン鏡,596,3908,335.0,16,7,0.0,1/169.9,1/244.2,1/558.3,1/0.0,2023-05-03
25387,27,第一プラザ西浦和店,HEYエリートサラリーマン鏡,597,5915,-2497.0,23,11,0.0,1/174.0,1/257.2,1/537.7,1/0.0,2023-05-03
25388,28,第一プラザ西浦和店,HEYエリートサラリーマン鏡,598,2268,-1367.0,12,2,0.0,1/162.0,1/189.0,1/1134.0,1/0.0,2023-05-03
25389,29,第一プラザ西浦和店,HEYエリートサラリーマン鏡,599,2700,-1660.0,11,3,0.0,1/192.9,1/245.5,1/900.0,1/0.0,2023-05-03
25390,30,第一プラザ西浦和店,HEYエリートサラリーマン鏡,600,6398,474.0,31,15,0.0,1/139.1,1/206.4,1/426.5,1/0.0,2023-05-03